@use "sass:map";

// enable css variables of sass properties
$css-vars: true !default;
// Most CSS variables use a prefix to avoid collisions with your own codebase.
// This prefix is in addition to the -- that’s required on every CSS variable.
$variable-prefix: $prefix;

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;
$easing: ease !default;

// Sizes
$sizes: (
  "x-small": 0.5rem,
  "small": 0.75rem,
  "medium": 1.25rem,
  "large": 1.5rem,
  "x-large": 2rem,
) !default;

// Colors
$white: #ffffff !default;
$gray: $gray-400 !default;
$black: #000000 !default;

$primary-light: rgba($primary, 0.1) !default;
$secondary-light: rgba($primary, 0.1) !default;
$success-light: rgba($success, 0.1) !default;
$danger-light: rgba($danger, 0.1) !default;
$warning-light: rgba($warning, 0.1) !default;
$info-light: rgb($info, 0.1) !default;
$dark-light: rgb($dark, 0.1) !default;

$theme-colors-light: (
  "primary": $primary-light,
  "secondary": $primary-light,
  "success": $success-light,
  "danger": $danger-light,
  "warning": $warning-light,
  "info": $info-light,
  "dark": $dark-light,
) !default;

// there are also the maps:
// - $theme-colors
// - $theme-colors-text
// - $theme-colors-rgb
// - $theme-colors-bg-subtle
// - $theme-colors-border-subtle
