/* @docs */
$autocomplete-menu-max-height: 200px !default;
/* @docs */

.autocomplete-wrapper {
  --#{$prefix}autocomplete-menu-max-height: #{$autocomplete-menu-max-height};
  position: relative;

  .dropdown-menu {
    @extend .show;
    max-height: var(--#{$prefix}autocomplete-menu-max-height);
    overflow: auto;

    &.opened-top {
      top: auto;
      bottom: 100%;
    }
  }
}
