/* @docs */
$autocomplete-menu-max-height: 200px !default;
/* @docs */

.autocomplete-wrapper {
  position: relative;

  .dropdown-menu {
    max-height: $autocomplete-menu-max-height;
    overflow: auto;

    &.is-opened-top {
      top: auto;
      bottom: 100%;
    }
  }
}
