/* @docs */
$autocomplete-menu-max-height: 200px !default;
/* @docs */

.autocomplete-wrapper {
  --#{$prefix}autocomplete-menu-max-height: #{$autocomplete-menu-max-height};
  display: inline-block;

  .dropdown-menu {
    max-height: var(--#{$prefix}autocomplete-menu-max-height);
    overflow: auto;
    width: 100%;
  }
}
