$btn-margin-right-bottom: 0.5rem;
$btn-border-color: #ced4da;
$btn-rounded: 30px;

// BTN
.btn {
	margin-bottom: $btn-margin-right-bottom;
	.icon {
		margin: 0 4px;
	}
	&.is-expanded {
		width: 100%;
	}
	&.is-rounded {
		border-radius: $btn-rounded;
	}
	// inverted 
	&.btn-inverted-primary {
		color: $primary;
		border-color: transparent;
		background-color: transparent;
	}
	&.btn-inverted-primary:hover {
		background-color: rgba(13,110,253,.1);
	}
	&.btn-inverted-success {
		color: $success;
		border-color: transparent;
		background-color: transparent;
	}
	&.btn-inverted-success:hover {
		background-color: rgba(25,135,84,.1);
	}
	&.btn-inverted-danger {
		color: $danger;
		border-color: transparent;
		background-color: transparent;
	}
	&.btn-inverted-danger:hover {
		background-color: rgba(220,53,69,.1);
	}
	&.btn-inverted-info {
		color: $info;
		border-color: transparent;
		background-color: transparent;
	}
	&.btn-inverted-info:hover {
		background-color: rgba(13,202,240,.1);
	}
	&.btn-inverted-warning {
		color: $warning;
		border-color: transparent;
		background-color: transparent;
	}
	&.btn-inverted-warning:hover {
		background-color: rgba(220,53,69,.1);
	}
	&.btn-inverted-dark {
		color: $dark;
		border-color: transparent;
		background-color: transparent;
	}
	&.btn-inverted-dark:hover {
		background-color: rgb(33,37,41,.1);
	}
}
.btn:not(:last-child):not(.btn-expanded) {
	margin-right: $btn-margin-right-bottom;
}
.btn:not(.btn-primary):not(.btn-success):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-dark):not(.btn-outline-primary):not(.btn-outline-success):not(.btn-outline-danger):not(.btn-outline-warning):not(.btn-outline-info):not(.btn-outline-info) {
	border: .1px solid #ced4da;
}

// INVERTED
