@use "sass:map";

/* @docs */
$btn-spacer: 0.5rem !default;
/* @docs */

/* @bootstrap docs */
// $btn-color:                   var(--#{$prefix}body-color);
// $btn-padding-y:               $input-btn-padding-y;
// $btn-padding-x:               $input-btn-padding-x;
// $btn-font-family:             $input-btn-font-family;
// $btn-font-size:               $input-btn-font-size;
// $btn-line-height:             $input-btn-line-height;
// $btn-white-space:             null; // Set to `nowrap` to prevent text wrapping

// $btn-padding-y-sm:            $input-btn-padding-y-sm;
// $btn-padding-x-sm:            $input-btn-padding-x-sm;
// $btn-font-size-sm:            $input-btn-font-size-sm;

// $btn-padding-y-lg:            $input-btn-padding-y-lg;
// $btn-padding-x-lg:            $input-btn-padding-x-lg;
// $btn-font-size-lg:            $input-btn-font-size-lg;

// $btn-border-width:            $input-btn-border-width;

// $btn-font-weight:             $font-weight-normal;
// $btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
// $btn-focus-width:             $input-btn-focus-width;
// $btn-focus-box-shadow:        $input-btn-focus-box-shadow;
// $btn-disabled-opacity:        .65;
// $btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125);

// $btn-link-color:              var(--#{$prefix}link-color);
// $btn-link-hover-color:        var(--#{$prefix}link-hover-color);
// $btn-link-disabled-color:     $gray-600;

// // Allows for customizing button radius independently from global border radius
// $btn-border-radius:           var(--#{$prefix}border-radius);
// $btn-border-radius-sm:        var(--#{$prefix}border-radius-sm);
// $btn-border-radius-lg:        var(--#{$prefix}border-radius-lg);

// $btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// $btn-hover-bg-shade-amount:       15%;
// $btn-hover-bg-tint-amount:        15%;
// $btn-hover-border-shade-amount:   20%;
// $btn-hover-border-tint-amount:    10%;
// $btn-active-bg-shade-amount:      20%;
// $btn-active-bg-tint-amount:       20%;
// $btn-active-border-shade-amount:  25%;
// $btn-active-border-tint-amount:   10%;
/* @bootstrap docs */

.btn {
  --#{$prefix}btn-spacer: #{$btn-spacer};

  .icon {
    margin: 0 4px;

    &:not(:last-child) {
      margin-right: var(--#{$prefix}btn-spacer);
    }

    &:not(:first-child) {
      margin-left: var(--#{$prefix}btn-spacer);
    }
  }

  &.expanded {
    width: 100%;
  }

  &.disabled,
  &.btn-disabled {
    pointer-events: auto;
    cursor: not-allowed;
  }

  // inverted color
  @each $name, $color in $theme-colors {
    &.variant-#{$name}-inverted,
    &.btn-inverted-#{$name} {
      // default style
      --#{$prefix}btn-color: var(--#{$prefix}#{$name});
      --#{$prefix}btn-bg: transparent;
      --#{$prefix}btn-border-color: transparent;

      // hover style
      --#{$prefix}btn-hover-color: var(--#{$prefix}#{$name});
      --#{$prefix}btn-hover-bg: var(--#{$prefix}#{$name}-bg-subtle);
      --#{$prefix}btn-hover-border-color: var(
        --#{$prefix}#{$name}-border-subtle
      );
    }

    &.variant-#{$name}-subtle,
    &.btn-#{$name}-subtle {
      // default style
      --#{$prefix}btn-color: var(--#{$prefix}#{$name});
      --#{$prefix}btn-bg: var(--#{$prefix}#{$name}-bg-subtle);
      --#{$prefix}btn-border-color: var(--#{$prefix}#{$name}-border-subtle);

      // hover style
      --#{$prefix}btn-hover-color: #{color-contrast($color)};
      --#{$prefix}btn-hover-bg: var(--#{$prefix}#{$name});
      --#{$prefix}btn-hover-border-color: var(--#{$prefix}#{$name});
    }
  }
}

.btn:not(:last-child):not(.btn-expanded) {
  margin-right: var(--#{$prefix}btn-spacer);
}

.btn:not(.btn-primary):not(.btn-secondary):not(.btn-success):not(
    .btn-danger
  ):not(.btn-warning):not(.btn-info):not(.btn-dark):not(.btn-light):not(
    .btn-outline-primary
  ):not(.btn-outline-secondary):not(.btn-outline-success):not(
    .btn-outline-danger
  ):not(.btn-outline-warning):not(.btn-outline-info):not(.btn-outline-dark):not(
    .btn-outline-light
  ) {
  --#{$prefix}btn-border-color: var(--#{$prefix}border-color);
  --#{$prefix}btn-hover-border-color: var(--#{$prefix}border-color);
}
