/* docs */
$carousel-control-top: 50% !default;
$carousel-control-autoplay-top: 1rem !default;
$carousel-control-autoplay-left: 1.5rem !default;
$carousel-overlay-background: rgba(0, 0, 0, 0.8) !default;
$carousel-overlay-zindex: $zindex-fixed !default;
$carousel-indicator-bg: $secondary !default;
$carousel-indicator-size: 10px !default;
$carousel-indicator-spacer: $spacer !default;
/* docs */

/* @bootstrap docs */
// $carousel-control-color:             $white;
// $carousel-control-width:             15%;
// $carousel-control-opacity:           .5;
// $carousel-control-hover-opacity:     .9;
// $carousel-control-transition:        opacity .15s ease;

// $carousel-indicator-width:           30px;
// $carousel-indicator-height:          3px;
// $carousel-indicator-hit-area-height: 10px;
// $carousel-indicator-spacer:          3px;
// $carousel-indicator-opacity:         .5;
// $carousel-indicator-active-bg:       $white;
// $carousel-indicator-active-opacity:  1;
// $carousel-indicator-transition:      opacity .6s ease;

// $carousel-caption-width:             70%;
// $carousel-caption-color:             $white;
// $carousel-caption-padding-y:         1.25rem;
// $carousel-caption-spacer:            1.25rem;

// $carousel-control-icon-width:        2rem;

// $carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
// $carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

// $carousel-transition-duration:       .6s;
// $carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
/* @bootstrap docs */

.carousel {
  --#{$prefix}carousel-control-top: #{$carousel-control-top};
  --#{$prefix}carousel-overlay-background: #{$carousel-overlay-background};
  --#{$prefix}carousel-overlay-zindex: #{$carousel-overlay-zindex};
  --#{$prefix}carousel-indicator-bg: #{$carousel-indicator-bg};
  --#{$prefix}carousel-indicator-size: #{$carousel-indicator-size};
  --#{$prefix}carousel-indicator-spacer: #{$carousel-indicator-spacer};

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  width: 100%;

  &.carousel-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    background-color: var(--#{$prefix}carousel-overlay-background);
    z-index: var(--#{$prefix}carousel-overlay-zindex);

    .carousel-indicator.has-background {
      background: transparent;
    }
  }

  .carousel-scene {
    width: 100%;
    position: relative;

    .carousel-items {
      display: flex;
      overflow: visible;

      &:not(.dragging) {
        transition: all $speed-slower ease-out 0s;
      }

      .carousel-item {
        flex-shrink: 0;
        border: 2px solid transparent;
        display: block;
        margin: unset;
      }
    }
  }

  .carousel-indicators {
    .carousel-indicator {
      flex: 0 1 auto;
      padding: 0;
      box-sizing: content-box;
      margin-right: var(
        --#{$prefix}carousel-indicator-spacer,
        $carousel-indicator-spacer
      );
      margin-left: var(
        --#{$prefix}carousel-indicator-spacer,
        $carousel-indicator-spacer
      );
      cursor: pointer;
      border: 0;
      border-top: var(
          --#{$prefix}carousel-indicator-hit-area-height,
          $carousel-indicator-hit-area-height
        )
        solid transparent;
      border-bottom: var(
          --#{$prefix}carousel-indicator-hit-area-height,
          $carousel-indicator-hit-area-height
        )
        solid transparent;

      & > .carousel-indicator-item {
        display: block;
        background-color: var(
          --#{$prefix}carousel-indicator-active-bg,
          $carousel-indicator-active-bg
        );
        background-clip: padding-box;
        opacity: var(
          --#{$prefix}carousel-indicator-opacity,
          $carousel-indicator-opacity
        );
        transition: var(
          --#{$prefix}carousel-indicator-transition,
          $carousel-indicator-transition
        );
        width: var(
          --#{$prefix}carousel-indicator-width,
          $carousel-indicator-width
        );
        height: var(
          --#{$prefix}carousel-indicator-height,
          $carousel-indicator-height
        );

        &.active {
          opacity: var(
            --#{$prefix}carousel-indicator-active-opacity,
            $carousel-indicator-active-opacity
          );
        }

        &.indicator-dots,
        &.indicator-boxes {
          height: var(--#{$prefix}carousel-indicator-size);
          width: var(--#{$prefix}carousel-indicator-size);
        }

        &.indicator-dots {
          border-radius: 50%;
        }
      }
    }

    &:not(.inside) {
      position: relative;

      .carousel-indicator > .carousel-indicator-item {
        background-color: var(
          --#{$prefix}carousel-indicator-bg,
          $carousel-indicator-bg
        );
      }
    }

    &.inside {
      position: absolute;
    }

    &.position-bottom {
      bottom: 0;
      top: unset;
      margin-bottom: var(--#{$prefix}carousel-indicator-spacer);
    }

    &.position-top {
      top: 0;
      bottom: unset;
      margin-top: var(--#{$prefix}carousel-indicator-spacer);
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: var(--#{$prefix}carousel-control-top);
    width: var(--#{$prefix}carousel-control-width, $carousel-control-width);

    i {
      visibility: hidden;
    }
  }

  .carousel-control-autoplay {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: var(
      --#{$prefix}carousel-control-autoplay-top,
      $carousel-control-autoplay-top
    );
    left: var(
      --#{$prefix}carousel-control-autoplay-left,
      $carousel-control-autoplay-left
    );
  }
}
