$collapse-padding: 0.5rem 1rem !default;
$collapse-card-margin: 0.5rem 0 !default;

.card {
	margin: $collapse-card-margin;
	.card-header {
		.card-header-icon {
			position: absolute;
			top: 0.5rem;
			right: 1rem;
		}
	}
}

.card-content {
	padding: $collapse-padding;
}