$datepicker-cell-margin: 5px;
$datepicker-cell-padding: 5px; /* or 0.5rem 0.75rem*/
$datepicker-cell-width: calc(#{100%} / 7);
$datepicker-cell-font-weight: 400;
$datepicker-cell-text-align: center;
$datepicker-cell-color-unselectable: rgba(0,0,0,.3);
$datepicker-cell-color-hovered: rgba(0,0,0,.5);
$datepicker-cell-color-selected: $primary;
$datepicker-cell-border-radius: 3px;

@mixin datepicker-cell {
	padding: $datepicker-cell-padding;
    text-align: $datepicker-cell-text-align;
    width: $datepicker-cell-width;
    color: $dark;
    text-decoration: none;
    font-weight: $datepicker-cell-font-weight;
}

.datepicker {
	.dropdown-item:active {
		background-color: transparent;
		color: $dark;
	}
	.dropdown-item:hover {
		background-color: transparent;
	}
	.datepicker-header {
		margin-bottom: .5rem;
		.pagination {
			.pagination-prev {
				order:1;
			}
			.pagination-list {
				order:2;
				flex-shrink:1;
				width: auto;
			}
			.pagination-next {
				order:3;
			}
		}
	}
	.datepicker-table {
		margin: 0;
		.datepicker-header {
			display: flex;
			margin-bottom: 0;
			.datepicker-cell {
				@include datepicker-cell;
			    font-weight: bolder;
			}
		}
		.datepicker-body {
			display: block;
			.datepicker-row {
				display: flex;
				.datepicker-cell {
					@include datepicker-cell;
				}

				.datepicker-cell.is-unselectable {
					opacity: .5;
					cursor: not-allowed;
				}

				.datepicker-cell.is-selectable {
					text-decoration: none;
					font-weight: $datepicker-cell-font-weight;

					&.is-today {
						color: $datepicker-cell-color-selected;
						border: 1px solid $datepicker-cell-color-selected;
						border-radius: $datepicker-cell-border-radius;
					}
					&.is-selected {
						background-color: $datepicker-cell-color-selected;
						color: white;
						border-radius: $datepicker-cell-border-radius;
					}

					&.is-first-hovered {
						background-color: $datepicker-cell-color-hovered;
						color: white;
						border-top-left-radius: $datepicker-cell-border-radius;
						border-bottom-left-radius: $datepicker-cell-border-radius;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
					&.is-within-hovered {
						background-color: $datepicker-cell-color-hovered;
						color: white;
						border-radius: 0;
						opacity: .5;
					}
					&.is-last-hovered {
						background-color: $datepicker-cell-color-hovered;
						color: white;
						border-top-right-radius: $datepicker-cell-border-radius;
						border-bottom-right-radius: $datepicker-cell-border-radius;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}

					&.is-first-selected {
						background-color: $datepicker-cell-color-selected;
						color: white;
						border-top-left-radius: $datepicker-cell-border-radius;
						border-bottom-left-radius: $datepicker-cell-border-radius;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
					&.is-within-selected {
						background-color: $datepicker-cell-color-selected;
						color: white;
						border-radius: 0;
						opacity: .5;
					}
					&.is-last-selected {
						background-color: $datepicker-cell-color-selected;
						color: white;
						border-top-right-radius: $datepicker-cell-border-radius;
						border-bottom-right-radius: $datepicker-cell-border-radius;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
			&.has-events {
                .datepicker-cell {
                    padding: 0.3rem 0.75rem 0.75rem;
                    &.has-event {
                        position: relative;
                        .events {
                            bottom: .425rem;
                            display: flex;
                            justify-content: center;
                            left: 0;
                            padding: 0 .35rem;
                            position: absolute;
                            width: 100%;
                            .event {
                                background-color: $danger;
                                &.is-primary {
                                    background-color: $primary;
                                }
                                &.is-success {
                                    background-color: $success;
                                }
                                 &.is-danger {
                                    background-color: $danger;
                                }
                                 &.is-info {
                                    background-color: $info;
                                }
                                 &.is-warning {
                                    background-color: $warning;
                                }
                                 &.is-dark {
                                    background-color: $dark;
                                }
                            }
                        }
                        &.dots .event {
                            border-radius: 50%;
                            height: .35em;
                            margin: 0 .1em;
                            width: .35em;
                        }
                        &.bars .event {
                            height: .25em;
                            width: 100%;
                        }
                    }
                    &.is-selected {
                        overflow: hidden;
                        .events .event {
                            // Currently datepicker only uses primary coloring
                            // Ensure indicator is visible when selected
                            &.is-primary {
                                background-color: lighten($primary, 15);
                            }
                        }
                    }
                }
            }
		}
	}
	// Temporary Styles before the issue <month classes doesn't get overridden> will get solved
	.o-dpck__month {
		width: 17rem;
		margin: 0 auto 0 auto;
	}
	.o-dpck__month__table {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 17rem;
        .o-dpck__month__cell  {
            @include datepicker-cell;
            width: 33.33%;
            height: 2.5rem;

            &--selected {
            	background-color: $datepicker-cell-color-selected;
				color: white;
				border-radius: $datepicker-cell-border-radius;
            }
            &--selectable {
            	font-weight: $datepicker-cell-font-weight;
            }
            &--first-hovered {
				background-color: $datepicker-cell-color-hovered;
				color: white;
				border-top-left-radius: $datepicker-cell-border-radius;
				border-bottom-left-radius: $datepicker-cell-border-radius;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&--within-hovered {
				background-color: $datepicker-cell-color-hovered;
				color: white;
				border-radius: 0;
				opacity: .5;
			}
			&--last-hovered {
				background-color: $datepicker-cell-color-hovered;
				color: white;
				border-top-right-radius: $datepicker-cell-border-radius;
				border-bottom-right-radius: $datepicker-cell-border-radius;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			&--first-selected {
				background-color: $datepicker-cell-color-selected;
				color: white;
				border-top-left-radius: $datepicker-cell-border-radius;
				border-bottom-left-radius: $datepicker-cell-border-radius;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&--within-selected {
				background-color: $datepicker-cell-color-selected;
				color: white;
				border-radius: 0;
				opacity: .5;
			}
			&--last-selected {
				background-color: $datepicker-cell-color-selected;
				color: white;
				border-top-right-radius: $datepicker-cell-border-radius;
				border-bottom-right-radius: $datepicker-cell-border-radius;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
        }
	}
}

// o-dpck__month__cell 
// o-dpck__month__cell--selected         
// o-dpck__month__cell--selectable