@use "sass:color";

/* @docs */
$datepicker-background-color: var(--#{$prefix}body-bg) !default;
$datepicker-pagination-spacer: calc($spacer * 0.5) !default;
$datepicker-section-spacer: calc($spacer * 0.75) !default;
$datepicker-section-border: 1px solid var(--#{$prefix}border-color) !default;
$datepicker-cell-padding: 0.5rem 0.75rem !default;
$datepicker-cell-font-weight: 400 !default;
$datepicker-cell-width: calc(#{100%} / 7) !default;
$datepicker-cell-border-width: 1px !default;
$datepicker-cell-border-color: transparent !default;
$datepicker-cell-border-radius: var(--#{$prefix}border-radius) !default;
$datepicker-cell-color: var(--#{$prefix}black) !default;
$datepicker-cell-bg: transparent !default;
$datepicker-cell-hovered-color: var(--#{$prefix}secondary-contrast) !default;
$datepicker-cell-hovered-bg: var(--#{$prefix}secondary) !default;
$datepicker-cell-selected-color: var(--#{$prefix}primary-contrast) !default;
$datepicker-cell-selected-bg: var(--#{$prefix}primary) !default;
$datepicker-month-width: 20rem !default;
$datepicker-month-cell-spacer: calc($spacer * 0.5) !default;
$datepicker-month-cell-height: 2.5rem !default;
/* @docs */

.datepicker {
  --#{$prefix}datepicker-section-spacer: #{$datepicker-section-spacer};
  --#{$prefix}datepicker-section-border: #{$datepicker-section-border};

  .datepicker-header {
    --#{$prefix}datepicker-pagination-spacer: #{$datepicker-pagination-spacer};

    padding-bottom: var(--#{$prefix}datepicker-section-spacer);
    margin-bottom: var(--#{$prefix}datepicker-section-spacer);
    border-bottom: var(--#{$prefix}datepicker-section-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--#{$prefix}datepicker-pagination-spacer);
    min-width: max-content;

    .pagination-previous,
    .pagination-next {
      margin: 0 !important;
      color: var(--#{$prefix}btn-color);
    }

    .pagination-previous {
      order: 1;
    }

    .pagination-list {
      order: 2;
      display: inline-flex;
      gap: inherit;

      > * {
        flex-grow: 1;
      }
    }

    .pagination-next {
      order: 3;
    }
  }

  .datepicker-footer {
    padding-top: var(--#{$prefix}datepicker-section-spacer);
    margin-top: var(--#{$prefix}datepicker-section-spacer);
    border-top: var(--#{$prefix}datepicker-section-border);
  }

  .datepicker-cell {
    --#{$prefix}datepicker-cell-padding: #{$datepicker-cell-padding};
    --#{$prefix}datepicker-cell-width: #{$datepicker-cell-width};
    --#{$prefix}datepicker-cell-border-width: #{$datepicker-cell-border-width};
    --#{$prefix}datepicker-cell-border-color: #{$datepicker-cell-border-color};
    --#{$prefix}datepicker-cell-border-radius: #{$datepicker-cell-border-radius};
    --#{$prefix}datepicker-cell-font-weight: #{$datepicker-cell-font-weight};
    --#{$prefix}datepicker-cell-color: #{$datepicker-cell-color};
    --#{$prefix}datepicker-cell-bg: #{$datepicker-cell-bg};
    --#{$prefix}datepicker-cell-hovered-color: #{$datepicker-cell-hovered-color};
    --#{$prefix}datepicker-cell-hovered-bg: #{$datepicker-cell-hovered-bg};
    --#{$prefix}datepicker-cell-selected-color: #{$datepicker-cell-selected-color};
    --#{$prefix}datepicker-cell-selected-bg: #{$datepicker-cell-selected-bg};

    display: table-cell;
    padding: var(--#{$prefix}datepicker-cell-padding);
    width: var(--#{$prefix}datepicker-cell-width);
    color: var(--#{$prefix}datepicker-cell-color);
    background-color: var(--#{$prefix}datepicker-cell-bg);
    font-weight: var(--#{$prefix}datepicker-cell-font-weight);
    text-decoration: none;
    text-align: center;
    border: var(--#{$prefix}datepicker-cell-border-width) solid
      var(--#{$prefix}datepicker-cell-border-color);
    border-radius: var(--#{$prefix}datepicker-cell-border-radius);

    &.selectable {
      font-weight: var(--#{$prefix}datepicker-cell-font-weight);
    }

    &.today {
      --#{$prefix}datepicker-cell-color: var(
        --#{$prefix}datepicker-cell-selected-bg
      );
      --#{$prefix}datepicker-cell-border-color: var(
        --#{$prefix}datepicker-cell-selected-bg
      );
    }

    &.selected {
      --#{$prefix}datepicker-cell-color: var(
        --#{$prefix}datepicker-cell-selected-color
      );
      --#{$prefix}datepicker-cell-bg: var(
        --#{$prefix}datepicker-cell-selected-bg
      );
    }

    &[class*="hovered-"] {
      --#{$prefix}datepicker-cell-color: var(
        --#{$prefix}datepicker-cell-hovered-color
      );
      --#{$prefix}datepicker-cell-bg: var(
        --#{$prefix}datepicker-cell-hovered-bg
      );
    }

    &.hovered-first,
    &.selected-first {
      opacity: 1;
      border-radius: var(--#{$prefix}datepicker-cell-border-radius);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.hovered-last,
    &.selected-last {
      opacity: 1;
      border-radius: var(--#{$prefix}datepicker-cell-border-radius);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.hovered-within,
    &.selected-within:not([class*="hovered-"]) {
      opacity: 0.5;
      border-radius: 0;
    }
  }

  .datepicker-table {
    display: table;
    margin: 0 auto 0 auto;

    .datepicker-header {
      display: table-header-group;

      .datepicker-cell {
        font-weight: 600;
      }
    }

    .datepicker-body {
      display: table-row-group;

      .datepicker-row {
        display: table-row;

        .datepicker-cell {
          position: relative;

          &.unselectable {
            opacity: 0.5;
            cursor: not-allowed;
          }

          &.has-event {
            .events {
              display: flex;
              justify-content: center;
              position: absolute;
              left: 0;
              width: 100%;

              .event {
                background-color: $danger; // Default variant

                @each $name, $color in $theme-colors {
                  &.variant-#{$name} {
                    background-color: $color;
                  }
                }
              }
            }

            &.dots .event {
              border-radius: 50%;
              height: 0.35em;
              margin: 0 0.1em;
              width: 0.35em;
            }

            &.bars .event {
              height: 0.25em;
              width: 100%;
            }
          }

          &.selected .events .event {
            // Currently datepicker only uses primary coloring
            // Ensure indicator is visible when selected

            &.variant-primary {
              background-color: color.adjust($primary, $lightness: 15%);
            }
          }
        }
      }
    }
  }

  .datepicker-month {
    --#{$prefix}datepicker-month-width: #{$datepicker-month-width};
    --#{$prefix}datepicker-month-cell-spacer: #{$datepicker-month-cell-spacer};
    --#{$prefix}datepicker-month-cell-height: #{$datepicker-month-cell-height};

    display: table;
    margin: 0 auto 0 auto;

    .datepicker-table {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: var(--#{$prefix}datepicker-month-width);
      gap: var(--#{$prefix}datepicker-month-cell-spacer);
      margin-right: calc(var(--#{$prefix}datepicker-month-cell-spacer) * -1);

      .datepicker-cell {
        width: calc(33.33% - var(--#{$prefix}datepicker-month-cell-spacer));
        height: var(--#{$prefix}datepicker-month-cell-height);
      }
    }
  }

  // datetimepicker overrides
  .timepicker {
    .dropdown-menu {
      --#{$prefix}dropdown-border-color: transparent;

      display: contents;
    }
  }
}
