$datepicker-cell-margin: 5px;
$datepicker-cell-padding: 5px; /*0.5rem 0.75rem*/
$datepicker-cell-width: calc(#{100%} / 7);

.datepicker {
	.dropdown-item:active {
		background-color: transparent;
		color: $dark;
	}
	.dropdown-item:hover {
		background-color: transparent;
	}
	.datepicker-header {
		margin-bottom: .5rem;
		.pagination {
			.pagination-prev {
				order:1;
			}
			.pagination-list {
				order:2;
				flex-shrink:1;
				width: auto;
			}
			.pagination-next {
				order:3;
			}
		}
	}
	.datepicker-table {
		.datepicker-header {
			display: flex;
			margin-bottom: 0;
			.datepicker-cell {
				padding: $datepicker-cell-padding;
				// border:1px solid grey;
				text-align: center;
			    // margin: $datepicker-cell-margin;
			    width: $datepicker-cell-width;

			}
		}
		.datepicker-body {
			display: block;
			.datepicker-row {
				display: flex;
				.datepicker-cell {
					padding: $datepicker-cell-padding;
					// border:1px solid grey;
	                text-align: center;
			        // margin: $datepicker-cell-margin;
			        width: $datepicker-cell-width;

			        a {
			        	text-decoration: none;
			        	font-weight: bolder;
			        }
				}
				// Week number
				// .datepicker-cell:nth-child(1) {
				// 	background-color: red;
				// }
				.datepicker-cell.is-unselectable {
					color: grey;
					cursor: not-allowed;
				}
				.datepicker-cell.is-selectable {
					text-decoration: none;
					color: $dark;
					font-weight: bolder;
				}
				.datepicker-cell.is-selected {
					background-color: $primary;
					color: white;
					border-radius: 3px;
				}
			}
		}
	}
}