/* @docs */
$dropdown-menu-zindex: $zindex-modal !default;
/* @docs */

/* @bootstrap docs */
// $dropdown-min-width:                10rem;
// $dropdown-padding-x:                0;
// $dropdown-padding-y:                .5rem;
// $dropdown-spacer:                   .125rem;
// $dropdown-font-size:                $font-size-base;
// $dropdown-color:                    var(--#{$prefix}body-color);
// $dropdown-bg:                       var(--#{$prefix}body-bg);
// $dropdown-border-color:             var(--#{$prefix}border-color-translucent);
// $dropdown-border-radius:            var(--#{$prefix}border-radius);
// $dropdown-border-width:             var(--#{$prefix}border-width);
// $dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width}); // stylelint-disable-line function-disallowed-list
// $dropdown-divider-bg:               $dropdown-border-color;
// $dropdown-divider-margin-y:         $spacer * .5;
// $dropdown-box-shadow:               $box-shadow;

// $dropdown-link-color:               var(--#{$prefix}body-color);
// $dropdown-link-hover-color:         $dropdown-link-color;
// $dropdown-link-hover-bg:            var(--#{$prefix}tertiary-bg);

// $dropdown-link-active-color:        $component-active-color;
// $dropdown-link-active-bg:           $component-active-bg;

// $dropdown-link-disabled-color:      var(--#{$prefix}tertiary-color);

// $dropdown-item-padding-y:           $spacer * .25;
// $dropdown-item-padding-x:           $spacer;

// $dropdown-header-color:             $gray-600;
// $dropdown-header-padding-x:         $dropdown-item-padding-x;
// $dropdown-header-padding-y:         $dropdown-padding-y;
// // fusv-disable
// $dropdown-header-padding:           $dropdown-header-padding-y $dropdown-header-padding-x; // Deprecated in v5.2.0
// // fusv-enable
/* @bootstrap docs */

.dropdown {
  .dropdown-trigger {
    display: inline-block;
  }

  &.expanded,
  &.expanded .dropdown-trigger {
    width: 100%;
    display: block;
  }

  &.disabled {
    cursor: not-allowed;
  }

  .dropdown-menu {
    // disable dropdown-item effects when not clickable
    .dropdown-item:not(.clickable) {
      &:hover,
      &:active {
        --#{$prefix}dropdown-link-active-bg: transparent;
        --#{$prefix}dropdown-link-hover-bg: transparent;
      }
    }

    // position classes
    &.position {
      &-top {
        top: auto;
        right: auto;
        bottom: calc(100% + var(--#{$prefix}dropdown-spacer));
        left: 50%;
        transform: translateX(-50%);
      }

      &-left {
        top: 50%;
        right: calc(100% + var(--#{$prefix}dropdown-spacer));
        bottom: auto;
        left: auto;
        transform: translateY(-50%);
      }

      &-bottom {
        top: calc(100% + var(--#{$prefix}dropdown-spacer));
        left: 50%;
        bottom: auto;
        right: auto;
        transform: translateX(-50%);
      }

      &-right {
        top: 50%;
        right: auto;
        bottom: auto;
        left: calc(100% + var(--#{$prefix}dropdown-spacer));
        transform: translateY(-50%);
      }

      &-top-right {
        top: auto;
        right: 0;
        bottom: calc(100% + var(--#{$prefix}dropdown-spacer));
        left: auto;
      }

      &-top-left {
        top: auto;
        right: auto;
        bottom: calc(100% + var(--#{$prefix}dropdown-spacer));
        left: 0;
      }

      &-bottom-right {
        top: calc(100% + var(--#{$prefix}dropdown-spacer));
        right: 0;
        bottom: auto;
        left: auto;
      }

      &-bottom-left {
        top: calc(100% + var(--#{$prefix}dropdown-spacer));
        right: auto;
        bottom: auto;
        left: 0;
      }
    }
  }

  &.teleported {
    .dropdown-menu {
      // position
      &.position {
        &-top,
        &-top-left,
        &-top-right {
          margin-top: calc(-2 * var(--#{$prefix}dropdown-spacer));
        }

        &-bottom,
        &-bottom-left,
        &-bottom-right {
          margin-top: var(--#{$prefix}dropdown-spacer);
        }

        &-right {
          margin-left: var(--#{$prefix}dropdown-spacer);
        }

        &-left {
          margin-left: calc(-2 * var(--#{$prefix}dropdown-spacer));
        }
      }
    }
  }

  // mobile class
  &.dropdown-modal {
    --#{$prefix}dropdown-width: 75%;
    --#{$prefix}dropdown-min-width: 50%;
    --#{$prefix}dropdown-max-width: 90%;
    --#{$prefix}dropdown-zindex: #{$dropdown-menu-zindex};

    .dropdown-menu {
      position: fixed;
      top: 25%;
      left: 50%;
      width: var(--#{$prefix}dropdown-width);
      max-width: var(--#{$prefix}dropdown-max-width);
      min-width: var(--#{$prefix}dropdown-min-width);
      transform: translate3d(-50%, -25%, 0);
      z-index: var(--#{$prefix}dropdown-zindex);
    }

    .dropdown-backdrop {
      --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
      --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
      --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};

      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: var(--#{$prefix}backdrop-zindex);
      background-color: var(--#{$prefix}backdrop-bg);
      opacity: var(--#{$prefix}backdrop-opacity);
    }
  }

  &.inline .dropdown-menu {
    --#{$prefix}dropdown-zindex: 10;
    position: relative;
    top: 0;
  }
}
