/* @bootstrap docs */
// $dropdown-min-width:                10rem;
// $dropdown-padding-x:                0;
// $dropdown-padding-y:                .5rem;
// $dropdown-spacer:                   .125rem;
// $dropdown-font-size:                $font-size-base;
// $dropdown-color:                    $body-color;
// $dropdown-bg:                       $white;
// $dropdown-border-color:             rgba($black, .15);
// $dropdown-border-radius:            $border-radius;
// $dropdown-border-width:             $border-width;
// $dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width);
// $dropdown-divider-bg:               $dropdown-border-color;
// $dropdown-divider-margin-y:         $spacer * .5;
// $dropdown-box-shadow:               $box-shadow;

// $dropdown-link-color:               $gray-900;
// $dropdown-link-hover-color:         shade-color($dropdown-link-color, 10%);
// $dropdown-link-hover-bg:            $gray-200;

// $dropdown-link-active-color:        $component-active-color;
// $dropdown-link-active-bg:           $component-active-bg;

// $dropdown-link-disabled-color:      $gray-500;

// $dropdown-item-padding-y:           $spacer * .25;
// $dropdown-item-padding-x:           $spacer;

// $dropdown-header-color:             $gray-600;
// $dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x;
// Variables for the dark dropdown:

// Copy
// $dropdown-dark-color:               $gray-300;
// $dropdown-dark-bg:                  $gray-800;
// $dropdown-dark-border-color:        $dropdown-border-color;
// $dropdown-dark-divider-bg:          $dropdown-divider-bg;
// $dropdown-dark-box-shadow:          null;
// $dropdown-dark-link-color:          $dropdown-dark-color;
// $dropdown-dark-link-hover-color:    $white;
// $dropdown-dark-link-hover-bg:       rgba($white, .15);
// $dropdown-dark-link-active-color:   $dropdown-link-active-color;
// $dropdown-dark-link-active-bg:      $dropdown-link-active-bg;
// $dropdown-dark-link-disabled-color: $gray-500;
// $dropdown-dark-header-color:        $gray-500;
/* @bootstrap docs */

.dropdown {
	&.dropdown-modal {
		.dropdown-menu {
			position: fixed;
			top:25%;
			left: 50%;
			width: 80%;
			max-width: 90%;
			min-width: 70%;
			transform: translate3d(-50%,-25%,0);

		}
		.background {
			background-color: $overlay-background-color-dark;
			position: fixed;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    top: 0;
		    cursor: pointer;
		    z-index: 111;
		}
	}
	
	&.is-top-right:not(.dropdown-modal) {
		.dropdown-menu {
			top: auto;
            bottom: 100%;
		}
	}
	&.is-top-left:not(.dropdown-modal) {
		.dropdown-menu {
			top: auto;
            bottom: 100%;
		}
	}
}
