.dropdown {
	&.dropdown-modal {
		.dropdown-menu {
			position: fixed;
			top:25%;
			left: 50%;
			width: 80%;
			max-width: 90%;
			min-width: 70%;
			transform: translate3d(-50%,-25%,0);

		}
		.background {
			background-color: rgba(0,0,0,.8);
			position: fixed;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    top: 0;
		    cursor: pointer;
		    z-index: 111;
		}
	}
	
	&.is-top-right:not(.dropdown-modal) {
		// position: absolute;
		.dropdown-menu {
			// position: absolute;
			top: auto;
            bottom: 100%;
		}
	}
	&.is-top-left:not(.dropdown-modal) {
		// position: absolute;
		.dropdown-menu {
			// position: absolute;
			top: auto;
            bottom: 100%;
            right: 0;
            left: auto;
		}
	}
	&.is-bottom-right {
		// position: absolute;
		.dropdown-menu {
			// position: absolute;
			right: 0; 
			left: auto;
		}
	}
}
