$icon-color: grey;
$input-padding-for-icon: 7px 11px 7px 32px;
$icon-left-right: 12px;


.input-field {
	margin-bottom: 0.75rem;
}

.input-group {
  .input, .select {
  	.form-control, form-select {
		&:not(:last-child) {
			// background-color: red;
            border-bottom-right-radius: 0!important;
            border-top-right-radius: 0!important;
        }
        &:not(:first-child) {
        	// background-color: red;
            border-bottom-left-radius: 0!important;
            border-top-left-radius: 0!important;
        }
  	}
  }
}

.input {
	position: relative;
	// Space for the icon
	.form-control {
		// not rounded if it grouped with buttons
		// if the icon is in left then set that padding
		padding: $input-padding-for-icon;
		&.has-icon {
			padding: $input-padding-for-icon;
		}
	}
	.icon {
		color: $icon-color;
		position: absolute;
		&.is-left {
			top: 8px;
			left: $icon-left-right;
		}
		&.is-left {
			top: 8px;
			right: $icon-left-right;
		}
	}
}

.input-group {
	button {
		border: .1px solid #ced4da;
	}
}