$input-icon-color: $grey !default;
$input-icon-left-padding: 0.43rem 0.68rem 0.43rem 2rem !default;
// $input-icon-left-padding: .4rem .8rem .4rem 2rem;
$input-icon-large-left-position: 0.43rem 0.68rem 0.43rem 2.81rem !default;
$input-icon-left-position: 0.75rem !default;
$input-icon-right-position: 0.75rem !default;
$input-rounded: 3.12rem !important !default;
$input-margin-right: 0.5rem !default;
$input-btn-border-color: $default-border-color !default;

/* IMPORTANT NOTE !!
.input-group --> // Addons class
.input-grouped --> // Grouped class
*/

// $input-padding-y:                       $input-btn-padding-y;
// $input-padding-x:                       $input-btn-padding-x;
// $input-font-family:                     $input-btn-font-family;
// $input-font-size:                       $input-btn-font-size;
// $input-font-weight:                     $font-weight-base;
// $input-line-height:                     $input-btn-line-height;

// $input-padding-y-sm:                    $input-btn-padding-y-sm;
// $input-padding-x-sm:                    $input-btn-padding-x-sm;
// $input-font-size-sm:                    $input-btn-font-size-sm;

// $input-padding-y-lg:                    $input-btn-padding-y-lg;
// $input-padding-x-lg:                    $input-btn-padding-x-lg;
// $input-font-size-lg:                    $input-btn-font-size-lg;

// $input-bg:                              $body-bg;
// $input-disabled-bg:                     $gray-200;
// $input-disabled-border-color:           null;

// $input-color:                           $body-color;
// $input-border-color:                    $gray-400;
// $input-border-width:                    $input-btn-border-width;
// $input-box-shadow:                      $box-shadow-inset;

// $input-border-radius:                   $border-radius;
// $input-border-radius-sm:                $border-radius-sm;
// $input-border-radius-lg:                $border-radius-lg;

// $input-focus-bg:                        $input-bg;
// $input-focus-border-color:              tint-color($component-active-bg, 50%);
// $input-focus-color:                     $input-color;
// $input-focus-width:                     $input-btn-focus-width;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow;

// $input-placeholder-color:               $gray-600;
// $input-plaintext-color:                 $body-color;

// $input-height-border:                   $input-border-width * 2;

// $input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2);
// $input-height-inner-half:               add($input-line-height * .5em, $input-padding-y);
// $input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y * .5);

// $input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false));
// $input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false));
// $input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false));

// $input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// $form-color-width:                      3rem;


// $input-group-addon-padding-y:           $input-padding-y;
// $input-group-addon-padding-x:           $input-padding-x;
// $input-group-addon-font-weight:         $input-font-weight;
// $input-group-addon-color:               $input-color;
// $input-group-addon-bg:                  $gray-200;
// $input-group-addon-border-color:        $input-border-color;


// border radius for input group
.input-group {
    .input {
    	// the first and the last inputs should be rounded
        &:first-child {
            .form-control {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
        &:last-child {
            .form-control {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
        // The input in middle shouldn't be rounded
        &:not(:first-child):not(:last-child) {
            .form-control {
                border-radius: 0;
                border-radius: 0;
            }
        }
        // The input is first and the last
        &:first-child:last-child {
            .form-control {
                border-radius: 3px;
                border-radius: 3px;
            }
        }
    }
    // Button
    // Dropdown
    .dropdown {
        &:first-child {
            .dropdown-trigger {
                .btn {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
        &:last-child {
            .dropdown-trigger {
                .btn {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }
            }
        }
        // The dropdown in middle shouldn't be rounded
        &:not(:first-child):not(:last-child) {
            .dropdown-trigger {
                .btn {
                    border-radius: 0;
                    border-radius: 0;
                }
            }
        }
        // The input is first and the last
        &:first-child:last-child {
            .form-control {
                border-radius: 3px;
                border-radius: 3px;
            }
        }
    }    
    // Select    
    .select {
       // the first and the last inputs should be rounded
        &:first-child {
            .form-select {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
        &:last-child {
            .form-select {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
        // The select in middle shouldn't be rounded
        &:not(:first-child):not(:last-child) {
            .form-select {
                border-radius: 0;
                border-radius: 0;
            }
        }
        // The input is first and the last
        &:first-child:last-child {
            .form-control {
                border-radius: 3px;
                border-radius: 3px;
            }
        }
    }
    // If the input and button are wrapped inside divs
    // div:first-child {
    //     .btn {
    //         border-bottom-right-radius: 0;
    //         border-top-right-radius: 0;
    //     }
    //     .input {
    //         border-bottom-right-radius: 0;
    //         border-top-right-radius: 0;
    //     }
    // }
    // div:last-child {
    //     .btn {
    //         border-bottom-left-radius: 0;
    //         border-top-left-radius: 0;
    //     }
    //     .input {
    //         border-bottom-left-radius: 0;
    //         border-top-left-radius: 0;
    //     }
    // }
    // div:not(:first-child):not(:last-child) {
    //     .btn {
    //         border-radius: 0;
    //         border-radius: 0;
    //     }
    //     .input {
    //         border-radius: 0;
    //         border-radius: 0;
    //     }
    // }
}

// Icon style
.input {
    position: relative;
    
    // Space for the icon
    .form-control {
        // if the icon is in left then set that padding
        &.has-icon-in-left:not(.form-control-lg) {
            padding: $input-icon-left-padding;
        } // if icon and the input are large, we give more space to icon
        &.has-icon-in-left.form-control-lg {
            padding: $input-icon-large-left-position;
        }
    }
    // the Position of the icon
    .icon {
        color: $input-icon-color;
        position: absolute;
        &.is-left {
            top: 8px;
            left: $input-icon-left-position;
        }
        &.is-right {
            top: 8px;
            right: $input-icon-right-position;
        }
        // small icon positioniing
        &.is-left.is-small {
            top: 6px;
            left: $input-icon-left-position;
        }
        &.is-right.is-small {
            top: 6px;
            right: $input-icon-right-position;
        }
    }

}

.input-group {
    flex-shrink: 0;
    .input, .select {
        &.is-expanded {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

     // Without margin
    .input, .select , .btn {
        margin: 0!important;
    }
    // Btn with border if it transparent <outlined>
    button:not(.btn-primary):not(.btn-info):not(.btn-danger):not(.btn-success):not(.btn-warning):not(.btn-dark):not(.btn-light) {
        border: .1px solid $input-btn-border-color;
        background-color: $input-btn-border-color;
    }
}

.input-field {
    margin-bottom: 0.75rem;

    .input-grouped {
        display: flex;
        .input, .select {
            &.is-expanded {
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
        // Margin right
        .input:not(:last-child), .select:not(:last-child), .dropdown:not(:last-child), button:not(:last-child) {
            margin-right: $input-margin-right;
        }
        .input-field:not(:last-child) {
            margin-right: $input-margin-right;
        }
    }
    // counter
    .counter {
    	position: absolute;
    	right: 0;
    }
    
    // Rounded
    .form-control, .form-select {
        &.is-rounded {
            border-radius: $input-rounded;
        }
    }
    // Fullwidth
    .input, .select {
        flex-shrink: 0;
        &.is-fullwidth {
            flex-grow:1;
            flex-shrink: 1;
        }
    }
}