$icon-spin-animation-duration: 2000ms;
$icon-spin-animation-iteration-count: infinite;
$icon-spin-animation-timing-function: linear;

// ICON
.is-spin {
  animation-name: spining;
  animation-duration: $icon-spin-animation-duration;
  animation-iteration-count: $icon-spin-animation-iteration-count;
  animation-timing-function: $icon-spin-animation-timing-function; 
}

@keyframes spining {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}