/* @docs */
$icon-spin-animation-name: spining !default;
$icon-spin-animation-duration: 1.5s !default;
/* @docs */

@keyframes spining {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: transform 150ms ease-out, opacity 0.3s ease-out;

  &.spin {
    --#{$prefix}spin-animation-name: #{$icon-spin-animation-name};
    --#{$prefix}spin-animation-speed: #{$icon-spin-animation-duration};
    display: inline-block;
    animation: var(--#{$prefix}spin-animation-speed) linear infinite
      var(--#{$prefix}spin-animation-name);
  }
}
