/* @docs */
$input-icon-color: $input-color !default;
$input-icon-spacer: 0.75rem !default;

$input-icon-padding-sm: 2rem !default;
$input-icon-padding: 2.5rem !default;
$input-icon-padding-lg: 3rem !default;
/* @docs */

/* @bootstrap docs */
// $input-btn-padding-y:         .375rem;
// $input-btn-padding-x:         .75rem;
// $input-btn-font-family:       null;
// $input-btn-font-size:         $font-size-base;
// $input-btn-line-height:       $line-height-base;

// $input-btn-focus-width:         $focus-ring-width;
// $input-btn-focus-color-opacity: $focus-ring-opacity;
// $input-btn-focus-color:         $focus-ring-color;
// $input-btn-focus-blur:          $focus-ring-blur;
// $input-btn-focus-box-shadow:    $focus-ring-box-shadow;

// $input-btn-padding-y-sm:      .25rem;
// $input-btn-padding-x-sm:      .5rem;
// $input-btn-font-size-sm:      $font-size-sm;

// $input-btn-padding-y-lg:      .5rem;
// $input-btn-padding-x-lg:      1rem;
// $input-btn-font-size-lg:      $font-size-lg;

// $input-btn-border-width:      var(--#{$prefix}border-width);
/* @bootstrap docs */

/* @bootstrap docs */
// $input-padding-y:                       $input-btn-padding-y;
// $input-padding-x:                       $input-btn-padding-x;
// $input-font-family:                     $input-btn-font-family;
// $input-font-size:                       $input-btn-font-size;
// $input-font-weight:                     $font-weight-base;
// $input-line-height:                     $input-btn-line-height;

// $input-padding-y-sm:                    $input-btn-padding-y-sm;
// $input-padding-x-sm:                    $input-btn-padding-x-sm;
// $input-font-size-sm:                    $input-btn-font-size-sm;

// $input-padding-y-lg:                    $input-btn-padding-y-lg;
// $input-padding-x-lg:                    $input-btn-padding-x-lg;
// $input-font-size-lg:                    $input-btn-font-size-lg;

// $input-bg:                              var(--#{$prefix}body-bg);
// $input-disabled-color:                  null;
// $input-disabled-bg:                     var(--#{$prefix}secondary-bg);
// $input-disabled-border-color:           null;

// $input-color:                           var(--#{$prefix}body-color);
// $input-border-color:                    var(--#{$prefix}border-color);
// $input-border-width:                    $input-btn-border-width;
// $input-box-shadow:                      $box-shadow-inset;

// $input-border-radius:                   var(--#{$prefix}border-radius);
// $input-border-radius-sm:                var(--#{$prefix}border-radius-sm);
// $input-border-radius-lg:                var(--#{$prefix}border-radius-lg);

// $input-focus-bg:                        $input-bg;
// $input-focus-border-color:              tint-color($component-active-bg, 50%);
// $input-focus-color:                     $input-color;
// $input-focus-width:                     $input-btn-focus-width;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow;

// $input-placeholder-color:               var(--#{$prefix}secondary-color);
// $input-plaintext-color:                 var(--#{$prefix}body-color);

// $input-height-border:                   calc(#{$input-border-width} * 2); // stylelint-disable-line function-disallowed-list

// $input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2);
// $input-height-inner-half:               add($input-line-height * .5em, $input-padding-y);
// $input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y * .5);

// $input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false));
// $input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false));
// $input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false));

// $input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// $form-color-width:                      3rem;
/* @bootstrap docs */

/* @bootstrap docs */
// $form-select-padding-y:             $input-padding-y;
// $form-select-padding-x:             $input-padding-x;
// $form-select-font-family:           $input-font-family;
// $form-select-font-size:             $input-font-size;
// $form-select-indicator-padding:     $form-select-padding-x * 3; // Extra padding for background-image
// $form-select-font-weight:           $input-font-weight;
// $form-select-line-height:           $input-line-height;
// $form-select-color:                 $input-color;
// $form-select-bg:                    $input-bg;
// $form-select-disabled-color:        null;
// $form-select-disabled-bg:           $input-disabled-bg;
// $form-select-disabled-border-color: $input-disabled-border-color;
// $form-select-bg-position:           right $form-select-padding-x center;
// $form-select-bg-size:               16px 12px; // In pixels because image dimensions
// $form-select-indicator-color:       $gray-800;
// $form-select-indicator:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");

// $form-select-feedback-icon-padding-end: $form-select-padding-x * 2.5 + $form-select-indicator-padding;
// $form-select-feedback-icon-position:    center right $form-select-indicator-padding;
// $form-select-feedback-icon-size:        $input-height-inner-half $input-height-inner-half;

// $form-select-border-width:        $input-border-width;
// $form-select-border-color:        $input-border-color;
// $form-select-border-radius:       $input-border-radius;
// $form-select-box-shadow:          $box-shadow-inset;

// $form-select-focus-border-color:  $input-focus-border-color;
// $form-select-focus-width:         $input-focus-width;
// $form-select-focus-box-shadow:    0 0 0 $form-select-focus-width $input-btn-focus-color;

// $form-select-padding-y-sm:        $input-padding-y-sm;
// $form-select-padding-x-sm:        $input-padding-x-sm;
// $form-select-font-size-sm:        $input-font-size-sm;
// $form-select-border-radius-sm:    $input-border-radius-sm;

// $form-select-padding-y-lg:        $input-padding-y-lg;
// $form-select-padding-x-lg:        $input-padding-x-lg;
// $form-select-font-size-lg:        $input-font-size-lg;
// $form-select-border-radius-lg:    $input-border-radius-lg;

// $form-select-transition:          $input-transition;
/* @bootstrap docs */

.select,
.input {
    display: inline-block;
    position: relative;

    &.expanded {
        width: 100%;
    }

    // Space for the icon
    .form-select,
    .form-control {
        --#{$prefix}input-icon-padding: #{$input-icon-padding};

        &.form-control-sm {
            --#{$prefix}input-icon-padding: #{$input-icon-padding-sm};
        }
        // if icon and the input are large, we give more space to icon
        &.form-control-lg {
            --#{$prefix}input-icon-padding: #{$input-icon-padding-lg};
        }

        // if the icon is in left then set that padding
        &.icon-left {
            padding-left: var(--#{$prefix}input-icon-padding);
        }

        // if the icon is in right then set that padding
        &.icon-right {
            padding-right: var(--#{$prefix}input-icon-padding);
        }
    }

    // remove arrow if not arrowed
    .form-select:not(.arrowed) {
        --#{$prefix}form-select-bg-img: unset;
    }

    // the Position of the icon
    .icon {
        --#{$prefix}input-icon-color: #{$input-icon-color};
        --#{$prefix}input-icon-spacer: #{$input-icon-spacer};

        position: absolute;
        margin: 0;
        top: 0;
        height: 100%;
        color: var(--#{$prefix}input-icon-color);

        &.icon-left {
            left: var(--#{$prefix}input-icon-spacer);
        }

        &.icon-right {
            right: var(--#{$prefix}input-icon-spacer);
        }
    }

    // color variants
    @each $name, $color in $theme-colors {
        &.variant-#{$name} {
            input,
            textarea,
            select {
                @extend .border;
                @extend .border-#{$name};

                --#{$prefix}focus-ring-color: var(
                    --#{$prefix}#{$name}-bg-subtle
                );
            }
        }
    }
}
