/* @docs */
$loading-zindex: $zindex-sticky !default;
$loading-fullpage-zindex: $zindex-fixed !default;
$loading-overlay: $overlay-background-color-light !default;
/* @docs */

.loading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: $loading-zindex;

  &.fullpage {
    position: fixed;
    z-index: $loading-fullpage-zindex;
  }

  .loading-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: $loading-overlay;
  }
}
