/* @docs */
$menu-label-bg: transparent !default;
$menu-label-color: var(--#{$prefix}body-color) !default;
$menu-label-font-size: 0.75em !default;
$menu-list-line-height: 1.25em !default;
$menu-item-padding: 0.5em 0.75em !default;
$menu-item-bg: transparent !default;
$menu-item-color: var(--#{$prefix}body-color) !default;
$menu-item-active-bg: var(--#{$prefix}primary) !default;
$menu-item-active-color: var(--#{$prefix}white) !default;
$menu-item-disabled-bg: transparent !default;
$menu-item-disabled-color: var(--#{$prefix}secondary) !default;
$menu-icon-spacer: 0.5rem !default;
$menu-submenu-border-left: 1px solid #445e00 !default;
$menu-submenu-padding-left: 0.75em !default;
$menu-submenu-margin: 0.75em !default;
/* @docs */

.menu-wrapper {
  .menu-label {
    --#{$prefix}menu-label-bg: #{$menu-label-bg};
    --#{$prefix}menu-label-color: #{$menu-label-color};
    --#{$prefix}menu-label-font-size: #{$menu-label-font-size};

    background: var(--#{$prefix}menu-label-bg);
    color: var(--#{$prefix}menu-label-color);
    font-size: var(--#{$prefix}menu-label-font-size);
    text-transform: uppercase;
  }

  .menu-list {
    --#{$prefix}menu-list-line-height: #{$menu-list-line-height};

    line-height: var(--#{$prefix}menu-list-line-height);

    .menu-item-wrapper {
      --#{$prefix}menu-item-padding: #{$menu-item-padding};
      --#{$prefix}menu-item-bg: #{$menu-item-bg};
      --#{$prefix}menu-item-color: #{$menu-item-color};
      --#{$prefix}menu-item-active-bg: #{$menu-item-active-bg};
      --#{$prefix}menu-item-active-color: #{$menu-item-active-color};
      --#{$prefix}menu-item-disabled-bg: #{$menu-item-disabled-bg};
      --#{$prefix}menu-item-disabled-color: #{$menu-item-disabled-color};

      list-style: none;

      .menu-item {
        display: block;
        list-style: none;
        background: var(--#{$prefix}menu-item-bg);
        color: var(--#{$prefix}menu-item-color);
        padding: var(--#{$prefix}menu-item-padding);

        &.active {
          --#{$prefix}menu-item-bg: var(--#{$prefix}menu-item-active-bg);
          --#{$prefix}menu-item-color: var(--#{$prefix}menu-item-active-color);
        }

        &.disabled {
          --#{$prefix}menu-item-bg: var(--#{$prefix}menu-item-disabled-bg);
          --#{$prefix}menu-item-color: var(
            --#{$prefix}menu-item-disabled-color
          );
        }

        &.menu-icon .icon {
          --#{$prefix}menu-icon-spacer: #{$menu-icon-spacer};

          margin-right: var(--#{$prefix}menu-icon-spacer);
        }
      }

      .menu-submenu {
        --#{$prefix}menu-submenu-border-left: #{$menu-submenu-border-left};
        --#{$prefix}menu-submenu-padding-left: #{$menu-submenu-padding-left};
        --#{$prefix}menu-submenu-margin: #{$menu-submenu-margin};

        border-left: var(--#{$prefix}menu-submenu-border-left);
        padding-left: var(--#{$prefix}menu-submenu-padding-left);
        margin: var(--#{$prefix}menu-submenu-margin);
      }
    }
  }
}
