$modal-overlay-background-color: $overlay-background-color-dark;

// MODAL
.modal {
	display: block;
	background-color: $modal-overlay-background-color;
	.modal-dialog {
		.modal-content {
			.modal-header {
				// Close btn of oruga
				.icon {
					.fa-times {
						display: none;
						// position: absolute; 
						// top: 20px;
						// right: 20px;
					}
				}
				// Close btn of bootstrap
				.btn-close {
					display: block;
				}
			}
		}
	}
}