$modal-overlay-background-color: $overlay-background-color-dark;


// $modal-inner-padding:               $spacer;

// $modal-footer-margin-between:       .5rem;

// $modal-dialog-margin:               .5rem;
// $modal-dialog-margin-y-sm-up:       1.75rem;

// $modal-title-line-height:           $line-height-base;

// $modal-content-color:               null;
// $modal-content-bg:                  $white;
// $modal-content-border-color:        rgba($black, .2);
// $modal-content-border-width:        $border-width;
// $modal-content-border-radius:       $border-radius-lg;
// $modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width);
// $modal-content-box-shadow-xs:       $box-shadow-sm;
// $modal-content-box-shadow-sm-up:    $box-shadow;

// $modal-backdrop-bg:                 $black;
// $modal-backdrop-opacity:            .5;
// $modal-header-border-color:         $border-color;
// $modal-footer-border-color:         $modal-header-border-color;
// $modal-header-border-width:         $modal-content-border-width;
// $modal-footer-border-width:         $modal-header-border-width;
// $modal-header-padding-y:            $modal-inner-padding;
// $modal-header-padding-x:            $modal-inner-padding;
// $modal-header-padding:              $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility

// $modal-sm:                          300px;
// $modal-md:                          500px;
// $modal-lg:                          800px;
// $modal-xl:                          1140px;

// $modal-fade-transform:              translate(0, -50px);
// $modal-show-transform:              none;
// $modal-transition:                  transform .3s ease-out;
// $modal-scale-transform:             scale(1.02);


// MODAL
.modal {
	display: block;
	background-color: $modal-overlay-background-color;
	.modal-dialog {
		.modal-content {
			.modal-header {
				// <o-icon> btn of oruga
				.icon.is-clickable {
					// display: none;
					position: absolute; 
					top: 20px;
					right: 20px;
				}
				// Close btn of bootstrap
				.btn-close {
					display: none;
				}
			}
		}
		.modal-content + .icon.is-clickable {
			display: none;
		}
	}
	.icon.is-clickable {
		position: absolute; 
		top: 20px;
		right: 20px;
	}
}