/* @docs */
$pagination-items-margin: 0.5rem !default;
$pagination-rounded-border-radius: $base-rounded-border-radius !default;
/* @docs */

/* @bootstrap docs */
// $pagination-padding-y:              .375rem;
// $pagination-padding-x:              .75rem;
// $pagination-padding-y-sm:           .25rem;
// $pagination-padding-x-sm:           .5rem;
// $pagination-padding-y-lg:           .75rem;
// $pagination-padding-x-lg:           1.5rem;

// $pagination-font-size:              $font-size-base;

// $pagination-color:                  var(--#{$prefix}link-color);
// $pagination-bg:                     var(--#{$prefix}body-bg);
// $pagination-border-radius:          var(--#{$prefix}border-radius);
// $pagination-border-width:           var(--#{$prefix}border-width);
// $pagination-margin-start:           calc(#{$pagination-border-width} * -1); // stylelint-disable-line function-disallowed-list
// $pagination-border-color:           var(--#{$prefix}border-color);

// $pagination-focus-color:            var(--#{$prefix}link-hover-color);
// $pagination-focus-bg:               var(--#{$prefix}secondary-bg);
// $pagination-focus-box-shadow:       $focus-ring-box-shadow;
// $pagination-focus-outline:          0;

// $pagination-hover-color:            var(--#{$prefix}link-hover-color);
// $pagination-hover-bg:               var(--#{$prefix}tertiary-bg);
// $pagination-hover-border-color:     var(--#{$prefix}border-color); // Todo in v6: remove this?

// $pagination-active-color:           $component-active-color;
// $pagination-active-bg:              $component-active-bg;
// $pagination-active-border-color:    $component-active-bg;

// $pagination-disabled-color:         var(--#{$prefix}secondary-color);
// $pagination-disabled-bg:            var(--#{$prefix}secondary-bg);
// $pagination-disabled-border-color:  var(--#{$prefix}border-color);

// $pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// $pagination-border-radius-sm:       var(--#{$prefix}border-radius-sm);
// $pagination-border-radius-lg:       var(--#{$prefix}border-radius-lg);
/* @bootstrap docs */

@mixin roundEdge {
  .pagination {
    li:first-child .page-link {
      border-top-left-radius: $pagination-border-radius;
      border-bottom-left-radius: $pagination-border-radius;
    }

    li:last-child .page-link {
      border-top-right-radius: $pagination-border-radius;
      border-bottom-right-radius: $pagination-border-radius;
    }
  }
}
@mixin vertical-centered {
  display: flex;
  align-items: center;
}

@mixin vertical-centered {
  display: flex;
  align-items: center;
}

.pagination-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;

  .pagination-prev,
  .pagination-next {
    @include vertical-centered;

    .icon {
      margin: unset;
    }
  }

  .pagination-prev {
    order: 1;
    margin: 0;
    border-top-left-radius: $pagination-border-radius;
    border-bottom-left-radius: $pagination-border-radius;
  }

  .pagination-next {
    order: 3;
    margin: 0;
    border-top-right-radius: $pagination-border-radius;
    border-bottom-right-radius: $pagination-border-radius;
  }

  .pagination {
    order: 2;
    margin: 0;

    .page-link {
      height: 100%;
    }
  }

  .pagination-ellipsis {
    @include vertical-centered;
    height: 100%;
    margin-right: $pagination-items-margin;
    margin-left: $pagination-items-margin;
  }

  .pagination-info {
    @include vertical-centered;
    margin-right: $pagination-items-margin;
  }

  &:not(.is-simple) {
    &.order-left {
      @include roundEdge;
      justify-content: space-between;

      .pagination-prev {
        order: 2;
      }

      .pagination-next {
        order: 3;
      }

      .pagination {
        order: 1;
        flex-grow: 1;
        justify-content: flex-start;
      }
    }

    &.order-centered {
      @include roundEdge;
      justify-content: space-between;
    }

    &.order-right {
      @include roundEdge;
      justify-content: space-between;

      .pagination-next {
        order: 2;
      }

      .pagination {
        order: 3;
        flex-grow: 1;
        justify-content: flex-end;
      }
    }
  }

  &.is-simple {
    &.order-centered {
      justify-content: center;
    }

    &.order-right {
      justify-content: flex-end;
    }
  }

  &.is-rounded {
    .pagination-ellipsis,
    .page-link {
      border-radius: $pagination-rounded-border-radius;
      margin-right: $pagination-items-margin;
    }
  }
}
