$pagination-items-margin: .5rem !default;
$pagination-border-radius: .3rem !default;
$pagination-rounded-border-radius: 9999px;

.pagination-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	
	.pagination-prev {
		order:1;
		margin: 0;
		border-top-left-radius: $pagination-border-radius;
		border-bottom-left-radius: $pagination-border-radius;
	}
	.pagination-next {
		order:3;
		margin: 0;
		border-top-right-radius: $pagination-border-radius; 
		border-bottom-right-radius: $pagination-border-radius;
	}
	.pagination {
		order:2;
		margin: 0;
		.page-link {
			margin: 0;
			// border-right: 0;
			&.active {
				background-color: $primary;
				color: white;
			}
		}
	}

	&.is-rounded {
		.page-link {
			border-radius: $pagination-rounded-border-radius;
			margin-right: $pagination-items-margin;
		}
	}
	.info {
		margin-right: $pagination-items-margin;
	}
}