$pagination-items-margin: .5rem !default;
$pagination-border-radius: $pagination-border-radius !default;
$pagination-rounded-border-radius: $base-rounded-border-radius !default;

// $pagination-padding-y:              .375rem;
// $pagination-padding-x:              .75rem;
// $pagination-padding-y-sm:           .25rem;
// $pagination-padding-x-sm:           .5rem;
// $pagination-padding-y-lg:           .75rem;
// $pagination-padding-x-lg:           1.5rem;

// $pagination-color:                  $link-color;
// $pagination-bg:                     $white;
// $pagination-border-width:           $border-width;
// $pagination-border-radius:          $border-radius;
// $pagination-margin-start:           -$pagination-border-width;
// $pagination-border-color:           $gray-300;

// $pagination-focus-color:            $link-hover-color;
// $pagination-focus-bg:               $gray-200;
// $pagination-focus-box-shadow:       $input-btn-focus-box-shadow;
// $pagination-focus-outline:          0;

// $pagination-hover-color:            $link-hover-color;
// $pagination-hover-bg:               $gray-200;
// $pagination-hover-border-color:     $gray-300;

// $pagination-active-color:           $component-active-color;
// $pagination-active-bg:              $component-active-bg;
// $pagination-active-border-color:    $pagination-active-bg;

// $pagination-disabled-color:         $gray-600;
// $pagination-disabled-bg:            $white;
// $pagination-disabled-border-color:  $gray-300;

// $pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// $pagination-border-radius-sm:       $border-radius-sm;
// $pagination-border-radius-lg:       $border-radius-lg;

.pagination-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	
	.pagination-prev {
		order:1;
		margin: 0;
		border-top-left-radius: $pagination-border-radius;
		border-bottom-left-radius: $pagination-border-radius;
	}
	.pagination-next {
		order:3;
		margin: 0;
		border-top-right-radius: $pagination-border-radius; 
		border-bottom-right-radius: $pagination-border-radius;
	}
	.pagination {
		order:2;
		margin: 0;
		.page-link {
			margin: 0;
			// border-right: 0;
			&.active {
				background-color: $primary;
				color: white;
			}
		}
	}

	&.is-rounded {
		.page-link {
			border-radius: $pagination-rounded-border-radius;
			margin-right: $pagination-items-margin;
		}
	}
	.info {
		margin-right: $pagination-items-margin;
	}
}