/* @docs */
$popover-shadow: $box-shadow-sm !default;
$popover-margin: 0.25rem !default;
/* @docs */

/* @bootstrap docs */
// $popover-font-size:                 $font-size-sm;
// $popover-bg:                        var(--#{$prefix}body-bg);
// $popover-max-width:                 276px;
// $popover-border-width:              var(--#{$prefix}border-width);
// $popover-border-color:              var(--#{$prefix}border-color-translucent);
// $popover-border-radius:             var(--#{$prefix}border-radius-lg);
// $popover-inner-border-radius:       calc(#{$popover-border-radius} - #{$popover-border-width}); // stylelint-disable-line function-disallowed-list
// $popover-box-shadow:                var(--#{$prefix}box-shadow);

// $popover-header-font-size:          $font-size-base;
// $popover-header-bg:                 var(--#{$prefix}secondary-bg);
// $popover-header-color:              $headings-color;
// $popover-header-padding-y:          .5rem;
// $popover-header-padding-x:          $spacer;

// $popover-body-color:                var(--#{$prefix}body-color);
// $popover-body-padding-y:            $spacer;
// $popover-body-padding-x:            $spacer;

// $popover-arrow-width:               1rem;
// $popover-arrow-height:              .5rem;
/* @bootstrap docs */

.popover-wrapper {
    position: relative;
    display: inline-flex;

    .popover-trigger {
        width: 100%;
    }

    .popover-content {
        --#{$prefix}popover-border-radius: #{$tooltip-border-radius};
        --#{$prefix}popover-font-size: #{$tooltip-font-size};
        --#{$prefix}popover-shadow: #{$popover-shadow};
        --#{$prefix}popover-bg: #{$tooltip-bg};
        --#{$prefix}popover-color: #{$tooltip-color};
        --#{$prefix}popover-margin: #{$popover-margin};
        --#{$prefix}popover-padding: #{$tooltip-padding-y} #{$tooltip-padding-x};

        white-space: nowrap;
        border-width: 0;
        line-height: 1.5;
        padding: var(--#{$prefix}popover-padding);
        margin: var(--#{$prefix}popover-margin);
        font-size: var(--#{$prefix}popover-font-size);
        color: var(--#{$prefix}popover-color);
        border-radius: var(--#{$prefix}popover-border-radius);
        background: var(--#{$prefix}popover-bg);
        box-shadow: var(--#{$prefix}popover-shadow);
        max-width: unset;

        &[popover]:not(:popover-open) {
            display: none;
        }
    }

    .popover-backdrop {
        margin: auto;

        &::backdrop {
            background-color: var(--#{$prefix}backdrop-bg);
        }
    }
}
