$radio-small: 1em !default;
$radio-medium: 1.25em !default;
$radio-large: 1.50em !default;

// $form-check-input-width:                  1em;
// $form-check-min-height:                   $font-size-base * $line-height-base;
// $form-check-padding-start:                $form-check-input-width + .5em;
// $form-check-margin-bottom:                .125rem;
// $form-check-label-color:                  null;
// $form-check-label-cursor:                 null;
// $form-check-transition:                   null;

// $form-check-input-active-filter:          brightness(90%);

// $form-check-input-bg:                     $input-bg;
// $form-check-input-border:                 1px solid rgba($black, .25);
// $form-check-input-border-radius:          .25em;
// $form-check-radio-border-radius:          50%;
// $form-check-input-focus-border:           $input-focus-border-color;
// $form-check-input-focus-box-shadow:       $input-btn-focus-box-shadow;

// $form-check-input-checked-color:          $component-active-color;
// $form-check-input-checked-bg-color:       $component-active-bg;
// $form-check-input-checked-border-color:   $form-check-input-checked-bg-color;
// $form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
// $form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");

// $form-check-input-indeterminate-color:          $component-active-color;
// $form-check-input-indeterminate-bg-color:       $component-active-bg;
// $form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color;
// $form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");

// $form-check-input-disabled-opacity:        .5;
// $form-check-label-disabled-opacity:        $form-check-input-disabled-opacity;
// $form-check-btn-check-disabled-opacity:    $btn-disabled-opacity;

// $form-check-inline-margin-end:    1rem;


.form-check {
	@each $name, $pair in $theme-colors {
		&.form-check-#{$name} {
			input[type="radio"]:checked {
				background-color: $pair;
				border-color: $pair;
			}
		}
	}

	&.is-small {
		input[type="radio"] {
			width: $radio-small;
			height: $radio-small;
			margin-right: calc(#{$radio-small} / 2)
		}
	}
	&.is-medium {
		input[type="radio"] {
			width: $radio-medium;
			height: $radio-medium;
			margin-right: calc(#{$radio-medium} / 2)
		}
	}
	&.is-large {
		input[type="radio"] {
			width: $radio-large;
			height: $radio-large;
			margin-right: calc(#{$radio-large} / 2); 
		}
	}
	&.is-disabled {
		opacity: $form-check-input-disabled-opacity;
		cursor: not-allowed;
	}
}