$radio-small: 1em !default;
$radio-medium: 1.25em !default;
$radio-large: 1.50em !default;


.form-check {
	&.form-check-primary {
		input[type="radio"]:checked {
			background-color: $primary;
			border-color: $primary;
		}
	}
	&.form-check-success {
		input[type="radio"]:checked {
			background-color: $success;
			border-color: $success;
		}
	}
	&.form-check-danger {
		input[type="radio"]:checked {
			background-color: $danger;
			border-color: $danger;
		}
	}
	&.form-check-warning {
		input[type="radio"]:checked {
			background-color: $warning;
			border-color: $warning;
		}
	}
	&.form-check-info {
		input[type="radio"]:checked {
			background-color: $info;
			border-color: $info;
		}
	}
	&.form-check-dark {
		input[type="radio"]:checked {
			background-color: $dark;
			border-color: $dark;
		}
	}

	&.is-small {
		input[type="radio"] {
			width: $radio-small;
			height: $radio-small;
			margin-right: calc(#{$radio-small} / 2)
		}
	}
	&.is-medium {
		input[type="radio"] {
			width: $radio-medium;
			height: $radio-medium;
			margin-right: calc(#{$radio-medium} / 2)
		}
	}
	&.is-large {
		input[type="radio"] {
			width: $radio-large;
			height: $radio-large;
			margin-right: calc(#{$radio-large} / 2); 
		}
	}
}