$icon-color: $grey;
$input-padding-for-left-icon: 7px 11px 7px 32px;
$icon-position-left-right: 12px;

// Icon style
.select {
	position: relative;
	// Space for the icon
	.form-select {
		// if the icon is in left then set that padding
		&.has-icon-in-left {
			padding: $input-padding-for-left-icon;
		}
	}
	// the Position of the icon
	.icon {
		color: $icon-color;
		position: absolute;
		&.is-left {
			top: 8px;
			left: $icon-position-left-right;
		}
		&.is-right {
			top: 8px;
			right: $icon-position-left-right;
		}
	}
}