$select-icon-color: $grey;
$select-icon-padding-left: 7px 11px 7px 32px;
$select-icon-left-position: 12px;
$select-icon-right-position: 12px;

// Icon style
.select {
	position: relative;
	// Space for the icon
	.form-select {
		// if the icon is in left then set that padding
		&.has-icon-in-left {
			padding: $select-icon-padding-left;
		}
	}
	// the Position of the icon
	.icon {
		color: $select-icon-color;
		position: absolute;
		&.is-left {
			top: 8px;
			left: $select-icon-left-position;
		}
		&.is-right {
			top: 8px;
			right: $select-icon-right-position;
		}
	}
}