/* @docs */
$sidebar-reduced-width: 5rem !default;
$sidebar-reduced-height: 10vh !default;
/* @docs */

/* @bootstrap docs */
// $offcanvas-padding-y:               $modal-inner-padding;
// $offcanvas-padding-x:               $modal-inner-padding;
// $offcanvas-horizontal-width:        400px;
// $offcanvas-vertical-height:         30vh;
// $offcanvas-transition-duration:     .3s;
// $offcanvas-border-color:            $modal-content-border-color;
// $offcanvas-border-width:            $modal-content-border-width;
// $offcanvas-title-line-height:       $modal-title-line-height;
// $offcanvas-bg-color:                var(--#{$prefix}body-bg);
// $offcanvas-color:                   var(--#{$prefix}body-color);
// $offcanvas-box-shadow:              $modal-content-box-shadow-xs;
// $offcanvas-backdrop-bg:             $modal-backdrop-bg;
// $offcanvas-backdrop-opacity:        $modal-backdrop-opacity;
/* @bootstrap docs */

@mixin size($height, $width) {
  &.offcanvas-start,
  &.offcanvas-end {
    --#{$prefix}offcanvas-width: #{$width};
  }

  &.offcanvas-top,
  &.offcanvas-bottom {
    --#{$prefix}offcanvas-height: #{$height};
  }
}

.sidebar {
  .offcanvas-backdrop {
    @extend .show;
  }

  .offcanvas {
    @extend .show;

    .btn-close {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }

    // Color variants
    @each $name, $color in $theme-colors {
      &.variant-#{$name} {
        --#{$prefix}offcanvas-color: var(--#{$prefix}#{$name}-contrast);
        --#{$prefix}offcanvas-bg: var(--#{$prefix}#{$name});
      }
    }

    &.fullwidth {
      --#{$prefix}offcanvas-width: 100%;
    }

    &.fullheight {
      --#{$prefix}offcanvas-height: 100%;
    }

    &.reduced {
      transition: width $speed-slow $easing, height $speed-slow $easing;

      @include size($sidebar-reduced-height, $sidebar-reduced-width);

      &.reduced-expand:hover:not(.reduced-delayed) {
        &.fullwidth {
          @include size(100%, 100%);
        }

        &:not(.fullwidth) {
          @include size(
            $offcanvas-vertical-height,
            $offcanvas-horizontal-width
          );

          &.reduced-expand-fixed {
            position: fixed;
          }
        }
      }
    }
  }
}
