/* @docs */
$skeleton-background-color: linear-gradient(
  90deg,
  $grey-lighter 25%,
  rgba($grey-lighter, 0.5) 50%,
  $grey-lighter 75%
) !default;
$skeleton-duration: 1.5s !default;
$skeleton-margin: 0.5rem 0 0 0 !default;
/* @docs */

.skeleton {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  width: 100%;

  .skeleton-item {
    width: 100%;
    background-image: $skeleton-background-color;
    margin: $skeleton-margin;
    line-height: 1em;

    &.animated {
      background-size: 400% 100%;
      animation-name: skeleton-loading;
      animation-iteration-count: infinite;
      animation-duration: $skeleton-duration;
    }

    &::after {
      content: "\00a0";
    }

    // Sizes
    @each $name, $value in $sizes {
      &.size-#{$name} {
        // @include avariable('line-height', ('skeleton-font-size-' + #{$name}), $size);
        line-height: $value;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
