/* @docs */
$slider-tick-width: 0.25rem !default;
$slider-tick-height: 0.25rem !default;
$slider-tick-radius: 50% !default;
$slider-tick-bg: var(--bs-gray) !default;
/* @docs */

/* @bootstrap docs */
// $form-range-track-width:          100%;
// $form-range-track-height:         .5rem;
// $form-range-track-cursor:         pointer;
// $form-range-track-bg:             var(--#{$prefix}tertiary-bg);
// $form-range-track-border-radius:  1rem;
// $form-range-track-box-shadow:     $box-shadow-inset;

// $form-range-thumb-width:                   1rem;
// $form-range-thumb-height:                  $form-range-thumb-width;
// $form-range-thumb-bg:                      $component-active-bg;
// $form-range-thumb-border:                  0;
// $form-range-thumb-border-radius:           1rem;
// $form-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1);
// $form-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow;
// $form-range-thumb-focus-box-shadow-width:  $input-focus-width; // For focus box shadow issue in Edge
// $form-range-thumb-active-bg:               tint-color($component-active-bg, 70%);
// $form-range-thumb-disabled-bg:             var(--#{$prefix}secondary-color);
// $form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
/* @bootstrap docs */

.slider {
  --#{$prefix}slider-width: #{$form-range-track-width};
  --#{$prefix}slider-height: #{$form-range-track-height};
  --#{$prefix}slider-border-radius: #{$form-range-track-border-radius};
  --#{$prefix}slider-bg: #{$form-range-track-bg};
  --#{$prefix}slider-cursor: #{$form-range-track-cursor};
  --#{$prefix}slider-box-shadow: #{$form-range-track-box-shadow};
  --#{$prefix}slider-disabled-bg: #{$form-range-thumb-disabled-bg};

  position: relative;
  width: var(--#{$prefix}slider-width);
  height: var(--#{$prefix}slider-height);
  border-radius: var(--#{$prefix}slider-border-radius);
  background: var(--#{$prefix}slider-bg);
  cursor: var(--#{$prefix}slider-cursor);
  box-shadow: var(--#{$prefix}slider-box-shadow);

  .slider-track {
    display: flex;
    align-items: center;
    box-shadow: var(--#{$prefix}slider-shadow);

    .slider-fill {
      --#{$prefix}slider-track-border-radius: #{$form-range-track-border-radius};

      position: absolute;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      border-radius: var(--#{$prefix}slider-track-border-radius);

      // Colors
      @include variant-bg();
    }

    .slider-thumb-wrapper {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: grab;

      .slider-thumb {
        --#{$prefix}slider-thumb-width: #{$form-range-thumb-width};
        --#{$prefix}slider-thumb-height: #{$form-range-thumb-height};
        --#{$prefix}slider-thumb-border: #{$form-range-thumb-border};
        --#{$prefix}slider-thumb-border-radius: #{$form-range-thumb-border-radius};
        --#{$prefix}slider-thumb-bg: #{$form-range-thumb-bg};
        --#{$prefix}slider-thumb-transition: #{$form-range-thumb-transition};
        --#{$prefix}slider-thumb-box-shadow: #{$form-range-thumb-box-shadow};

        width: var(--#{$prefix}slider-thumb-width);
        height: var(--#{$prefix}slider-thumb-height);
        background: var(--#{$prefix}slider-thumb-bg);
        border: var(--#{$prefix}slider-thumb-border);
        border-radius: var(--#{$prefix}slider-thumb-border-radius);
        transition: var(--#{$prefix}slider-thumb-transition);

        // Colors
        @include variant-bg();

        &:active,
        &:hover {
          box-shadow: var(--#{$prefix}focus-ring-x, 0)
            var(--#{$prefix}focus-ring-y, 0) var(--#{$prefix}focus-ring-blur, 0)
            var(--#{$prefix}focus-ring-width) var(--#{$prefix}focus-ring-color);
        }

        &:active {
          transform: scale(1.2);
          // background-color: $form-range-thumb-active-bg;
        }

        &:not(.focus-ring) {
          box-shadow: var(--#{$prefix}slider-thumb-box-shadow);
        }

        &:focus {
          --#{$prefix}slider-thumb-focus-box-shadow: #{$form-range-thumb-focus-box-shadow};

          transform: scale(1.2);

          &:not(.focus-ring) {
            box-shadow: var(--#{$prefix}slider-thumb-focus-box-shadow);
          }
        }
      }

      &.is-dragging {
        cursor: grabbing;

        .slider-thumb {
          transform: scale(1.5);
        }
      }
    }

    // tick
    .slider-tick {
      --#{$prefix}slider-tick-width: #{$slider-tick-width};
      --#{$prefix}slider-tick-height: #{$slider-tick-height};
      --#{$prefix}slider-tick-bg: #{$slider-tick-bg};
      --#{$prefix}slider-tick-radius: #{$slider-tick-radius};

      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: var(--#{$prefix}slider-tick-width);
      height: var(--#{$prefix}slider-tick-height);
      background: var(--#{$prefix}slider-tick-bg);
      border-radius: var(--#{$prefix}slider-tick-radius);

      &.tick-hidden {
        background: transparent;
      }

      .slider-tick-label {
        position: relative;
        bottom: calc(-1 * $form-range-thumb-height);
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: var(--#{$prefix}slider-disabled-bg);
  }

  // Sizes
  @each $name, $size in $sizes {
    &.size-#{$name} {
      height: $size;

      @if ($name == "small") {
        $size: 0.5rem;
        height: $size * 0.5;
      }

      .slider-track {
        .slider-thumb {
          height: calc($size * 1.35);
          width: calc($size * 1.35);
        }
      }

      .slider-tick {
        height: calc($size * 0.5);
        width: calc($size * 0.5);

        .slider-tick-label {
          bottom: calc(-1 * $size);
        }
      }
    }
  }
}
