$slider-margin: .4em 0;
$slider-track-background-color: transparent;
$slider-height: 6px; // default
$slider-border-radius: 10px;

$slider-tick-to-track-ratio: 0.5 !default;
$slider-tick-width: 3px !default;
$slider-tick-height: 5px !default;
$slider-tick-radius: 3px !default;
$slider-tick-background-color: $grey-light !default;

$slider-small: 2px;
$slider-medium: 5px;
$slider-large: 7px;

@mixin variant {
   
}

.slider {
    margin: $slider-margin;
    position: relative;
    width: 100%;
    height: $slider-height; // default size
    background-color: $grey-lighter;
    border-radius: $slider-border-radius;
    cursor: pointer;

    .slider-track {
        display: flex;
        align-items: center;
        // position: relative;
        cursor: pointer;
        background-color: $slider-track-background-color;

        .slider-fill {
            position: absolute;
            left: 0%;
            background-color: $primary; // default variant
            height: 100%;
            border-radius: 10px;
            // Fix alignment in IE 11. Cancel out for others
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;
            
            // &.is-primary {
            //     background-color: $primary;
            // }
            // &.is-success {
            //     background-color: $success;
            // }
            // &.is-danger {
            //     background-color: $danger;
            // }
            // &.is-warning {
            //     background-color: $warning;
            // }
            // &.is-info {
            //     background-color: $info;
            // }
            // &.is-dark {
            //     background-color: $dark;
            // }
            @each $name, $pair in $theme-colors {
               &.is-#{$name} {
                    background-color: $pair;
                } 
            }
        }
        .slider-thumb-wrapper {
            display: inline-flex;
            align-items: center;
            position: absolute;
            cursor: grab;
            transform: translate(-50%, -50%);
            top: 50%;
            flex-direction: column; // Fix shrinked thumb at the end in IE 11

            .slider-thumb {
                background-color: $primary; // default variant
                height: calc(#{$slider-height} * 3); // default size
                width: calc(#{$slider-height} * 3); // default size
                // border-radius: 50%;

                &:focus {
                    transform: scale(1.50);
                }
                // squared thumb
                &.is-rounded {
                    border-radius: 50%;
                }
            }

            &.is-dragging {
                cursor: grabbing;
                .slider-thumb {
                    transform: scale(1.50);
                }
            }
            &.has-indicator {
                padding: 16px 10px;
                display: flex;
                align-items: center;
                width: auto;
            }
            // Tooltip
            .b-tooltip {
                // &.is-primary {
                //     .slider-thumb {
                //         background-color: $primary;
                //     }
                // }
                // &.is-success {
                //     .slider-thumb {
                //         background-color: $success;
                //     }
                // }
                // &.is-danger {
                //     .slider-thumb {
                //         background-color: $danger;
                //     }
                // }
                // &.is-warning {
                //     .slider-thumb {
                //         background-color: $warning;
                //     }
                // }
                // &.is-info {
                //     .slider-thumb {
                //         background-color: $info;
                //     }
                // }
                // &.is-dark {
                //     .slider-thumb {
                //         background-color: $dark;
                //     }
                // }
                @each $name, $pair in $theme-colors {
                   &.is-#{$name} {
                        .slider-thumb {
                            background-color: $pair;
                        }
                    } 
                }
            }
        }
        // tick
        .slider-tick {
            position: absolute;
            width: $slider-tick-width;
            height: $slider-tick-height;
            transform: translate(-50%, -50%);
            top: 50%;
            background: $slider-tick-background-color;
            border-radius: $slider-tick-radius;
            &.is-tick-hidden {
                background: transparent;
            }
            .slider-tick-label {
               margin: 5px;
            }
        }
    }
    &.is-disabled {
        cursor: not-allowed;
        opacity: .5;
    }
    // Size
    &.is-small {
        height: $slider-small;
        .slider-track {
            .slider-thumb {
                height: calc(#{$slider-small} + 2px * 3);
                width: calc(#{$slider-small} + 2px * 3);
            }
        }
    }
    &.is-medium {
        height: $slider-medium;
        .slider-track { 
            .slider-thumb {
                height: calc(#{$slider-medium} * 3);
                width: calc(#{$slider-medium} * 3);
            }
        }
    }
    &.is-large {
        height: $slider-large;
        .slider-track {
            .slider-thumb {
                height: calc(#{$slider-large} * 3);
                width: calc(#{$slider-large} * 3);
            }
        }
    }
}