
$slider-track-background: transparent;
$slider-fill-background: $success;
$slider-thumb-background: $success;
$slider-hight: 6px;
$slider-radius: 10px;

@mixin variant {
    &.is-primary {
        background-color: $primary;
    }
    &.is-success {
        background-color: $success;
    }
    &.is-danger {
        background-color: $danger;
    }
    &.is-warning {
        background-color: $warning;
    }
}

.b-slider {
    margin: 1em 0;
    position: relative;
    width: 100%;
    height: $slider-hight;
    background-color: $grey-lighter;
    // border-radius: 10px;
    cursor: pointer;

    .b-slider-track {
        display: flex;
        align-items: center;
        // position: relative;
        cursor: pointer;
        background-color: $slider-track-background;
        border-radius: $slider-radius;


        .b-slider-fill {
            position: absolute;
            left: 0%;
            background-color: $primary;
            height: 100%;
            border-radius: 10px;
            // Fix alignment in IE 11. Cancel out for others
            top: 50%;
            transform: translateY(-50%);
            
            @include variant;
        }
        .b-slider-thumb-wrapper {
            display: inline-flex;
            align-items: center;
            position: absolute;
            cursor: grab;
            transform: translate(-50%, -50%);
            top: 50%;
            flex-direction: column; // Fix shrinked thumb at the end in IE 11

            .b-slider-thumb {
                background-color: $primary;
                height: calc(#{$slider-hight} * 3);
                width: calc(#{$slider-hight} * 3);
                border-radius: 50%;
                @include variant;
                &:focus {
                    transform: scale(1.50);
                }
            }

            &.is-dragging {
                cursor: grabbing;
                .b-slider-thumb {
                    transform: scale(1.50);
                }
            }
            // Tooltip
            .b-tooltip {
            }
        }
    }
    &.is-disabled {
        cursor: not-allowed;
        opacity: .5;
    }
    // Variant
    // Size
}