/* @docs */
$steps-marker-bg: var(--#{$prefix}gray-light) !default;
$steps-marker-border: var(--#{$prefix}white) !default;
$steps-marker-color: var(--#{$prefix}white);
$steps-color-active: var(--#{$prefix}primary);
$steps-title-color: var(--#{$prefix}dark);
$steps-title-bg: var(--#{$prefix}white) !default;
$steps-divider-height: 0.2em !default;
$steps-content-spacer: 1rem !default;
$steps-content-padding: 1rem !default;
$steps-vertical-padding: 1em 0 !default;
/* @docs */

@mixin steps-size($size) {
  .steps {
    min-height: $size * 2;

    .step-item {
      .step-marker {
        width: $size * 2;
        height: $size * 2;
        font-size: $size;
      }

      .step-title {
        font-size: $size;
      }
    }
  }
}
@mixin steps-color($color) {
  &.previous {
    &::before,
    &::after {
      background-color: $color;
    }

    .step-marker {
      --#{$prefix}steps-marker-bg: #{$color};
      --#{$prefix}steps-marker-border: #{$color};
      --#{$prefix}steps-marker-color: #{$white};
    }
  }

  &.active {
    &::before,
    &::after {
      background-color: $color;
    }

    .step-marker {
      --#{$prefix}steps-marker-bg: #{$white};
      --#{$prefix}steps-marker-border: #{$color};
      --#{$prefix}steps-marker-color: #{$color};
    }
  }
}

.steps-wrapper {
  // Default size
  @include steps-size(1em);

  // Sizes
  @each $name, $size in $sizes {
    &.size-#{$name} {
      @include steps-size($size);
    }
  }

  .steps {
    --#{$prefix}steps-divider-height: #{$steps-divider-height};
    --#{$prefix}steps-title-bg: #{$steps-title-bg};
    --#{$prefix}steps-title-color: #{$steps-title-color};
    --#{$prefix}steps-marker-bg: #{$steps-marker-bg};
    --#{$prefix}steps-marker-border: #{$steps-marker-border};
    --#{$prefix}steps-marker-color: #{$steps-marker-color};

    position: relative;
    display: flex;
    flex-wrap: wrap;

    .step-item {
      position: relative;
      flex-grow: 1;
      flex-basis: 1em;

      .step-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;

        &.clickable .step-marker {
          cursor: pointer;
        }
      }

      .step-marker {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: var(--#{$prefix}steps-marker-bg);
        border: 1px solid var(--#{$prefix}steps-marker-border);
        color: var(--#{$prefix}steps-marker-color);
        margin: 0 auto;
        font-weight: 700;
        overflow: hidden;

        .icon {
          margin: 0;
        }
      }

      .step-title {
        color: var(--#{$prefix}steps-title-color);
        text-align: center;
      }

      &::before,
      &::after {
        // This will contain the divider
        background: var(--#{$prefix}steps-marker-bg);
        background-size: 200% 100%;
        background-position: right bottom;
        height: var(--#{$prefix}steps-divider-height);
      }

      &:not(:first-child),
      &:only-child {
        flex-shrink: 1;

        &::before {
          // This will contain the divider
          content: " ";
          display: block;
          position: absolute;
          width: 100%;
          top: 25%;
          left: -50%;
          z-index: -1;
        }
      }

      &:only-child {
        &::before,
        &::after {
          width: 25%;
          left: 50%;
        }

        &::after {
          // This will contain the divider
          content: " ";
          display: block;
          position: absolute;
          bottom: 0;
          height: 3px;
        }

        &::before {
          right: 50%;
          left: auto;
        }
      }

      // Colors default variants
      @include steps-color($steps-color-active);

      // Colors variants
      @each $name, $color in $theme-colors {
        &.variant-#{$name} {
          @include steps-color($color);
        }
      }

      &.label-right,
      &.label-left {
        &:not(:first-child),
        &:only-child {
          &::before {
            top: 45%;
          }
        }

        .step-marker {
          margin: 0;
        }

        .step-title {
          background: var(--#{$prefix}steps-title-bg);
          padding: 0.2em;
        }
      }

      &.label-right .step-link {
        flex-direction: row;
      }

      &.label-left .step-link {
        flex-direction: row-reverse;
      }
    }
  }

  .step-content {
    --#{$prefix}steps-content-spacer: #{$steps-content-spacer};
    --#{$prefix}steps-content-padding: #{$steps-content-padding};

    position: relative;
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-top: var(--#{$prefix}steps-content-spacer);
    padding: var(--#{$prefix}steps-content-padding);

    .step-item {
      flex-shrink: 0;
      flex-basis: auto;
    }

    &.transition {
      overflow: hidden;
    }
  }

  &.animated {
    .step-item {
      &:not(:first-child),
      &:only-child {
        &::before {
          transition: background $speed-slow $easing;
        }
      }
    }
  }

  &.vertical {
    --#{$prefix}steps-vertical-padding: #{$steps-vertical-padding};

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > .steps {
      flex-direction: column;

      .step-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: var(--#{$prefix}steps-vertical-padding);

        .step-title {
          background: var(--#{$prefix}steps-title-bg);
        }

        &::before,
        &::after {
          height: 100%;
        }

        &:not(:first-child),
        &:only-child {
          flex-shrink: 1;

          &::before {
            width: 3px;
            top: -50%;
            left: 48%;
          }
        }

        &:only-child {
          &::after {
            // This contains the divider
            height: 100%;
          }
        }

        &.label-right {
          justify-content: flex-start;
        }

        &.label-left {
          justify-content: flex-end;
        }
      }
    }

    > .step-content {
      flex-grow: 1;
    }

    > .step-navigation {
      flex-basis: 100%;
    }

    &.position-right {
      flex-direction: row-reverse;
    }
  }
}
