/* @docs */
$steps-items-focused-outline: none !default;
$steps-details-background-color: white !default;
$steps-marker-default-background-color: var(--bs-gray-light) !default;
$steps-marker-default-border: 0.1em solid #fff !default;
$steps-previous-background-color: $primary !default;
$steps-active-background-color: $primary !default;
$steps-divider-height: 0.2em !default;
$steps-vertical-padding: 1em 0 !default;
/* @docs */

@mixin steps-size($size) {
  .steps {
    min-height: $size * 2;

    .step-item {
      .step-marker {
        width: $size * 2;
        height: $size * 2;
        font-size: $size;
      }

      .step-title {
        font-size: $size;
      }
    }
  }
}

.steps-wrapper {
  .steps {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .step-item {
      margin-top: 0;
      position: relative;
      flex-grow: 1;
      flex-basis: 1em;

      .step-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $body-color;

        &:not(.clickable) {
          cursor: not-allowed;
        }
      }

      .step-marker {
        display: flex;
        font-weight: 700;
        justify-content: center;
        background: $steps-marker-default-background-color;
        border: $steps-marker-default-border;
        padding: 0.1em;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        color: white;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;

        .icon {
          margin: 0;
        }
      }

      .step-title {
        color: $dark;
        text-align: center;
      }

      &:not(:first-child),
      &:only-child {
        flex-shrink: 1;

        &::before {
          // This will contain the divider
          content: " ";
          display: block;
          position: absolute;
          width: 100%;
          top: 25%;
          left: -50%;
          z-index: -1;
        }
      }

      &:only-child {
        &::after {
          // This will contain the divider
          content: " ";
          display: block;
          position: absolute;
          bottom: 0;
          height: 3px;
        }

        &::before,
        &::after {
          width: 25%;
          left: 50%;
        }

        &::before {
          right: 50%;
          left: auto;
        }
      }

      &::before,
      &::after {
        background: $steps-marker-default-background-color;
        background-size: 200% 100%;
        background-position: right bottom;
        height: 3px;
      }

      &.previous {
        &::before,
        &::after {
          background-color: $primary;
        }

        .step-marker {
          background-color: $primary;
          border-color: $primary;
          color: white;
        }
      }

      &.active {
        &::before,
        &::after {
          background-color: $primary;
        }

        .step-marker {
          background-color: white;
          border-color: $primary;
          color: $primary;
        }
      }

      // Colors variants
      @each $name, $pair in $theme-colors {
        &.variant-#{$name} {
          &.previous {
            &::before,
            &::after {
              background-color: $pair;
            }

            .step-marker {
              background-color: $pair;
              border-color: $pair;
              color: white;
            }
          }

          &.active {
            &::before,
            &::after {
              background-color: $pair;
            }

            .step-marker {
              background-color: white;
              border-color: $pair;
              color: $pair;
            }
          }
        }
      }
    }

    &.animated {
      .step-item {
        &:not(:first-child),
        &:only-child {
          &::before {
            transition: background $speed-slow $easing;
          }
        }
      }
    }

    &.label-right,
    &.label-left {
      .step-item {
        &:not(:first-child),
        &:only-child {
          &::before {
            top: 45%;
          }
        }

        .step-link {
          flex-direction: row;

          > .step-title {
            background-color: $steps-details-background-color;
            padding: 0.2em;
          }
        }

        .step-marker {
          margin: 0;
        }
      }
    }

    &.label-left {
      .step-item {
        .step-link {
          flex-direction: row-reverse;
        }

        .step-marker {
          margin: 0;
        }
      }
    }
  }

  // Sizes
  @include steps-size(1em);

  @each $name, $value in $sizes {
    &.size-#{$name} {
      @include steps-size($value);
    }
  }

  .step-content {
    margin-top: 1rem;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .step-link {
      .title {
        text-align: center;
      }
    }

    .step-item {
      flex-shrink: 0;
      flex-basis: auto;

      &:focus {
        outline: $steps-items-focused-outline;
      }
    }

    &.transition {
      overflow: hidden;
    }
  }

  &.vertical {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > .steps {
      flex-direction: column;

      .step-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $steps-vertical-padding;

        .step-title {
          background-color: $steps-details-background-color;
        }

        &:not(:first-child),
        &:only-child {
          flex-shrink: 1;

          &::before {
            width: 3px;
            top: -50%;
            left: 48%;
          }
        }

        &:only-child {
          &::after {
            // This contains the divider
            height: 100%;
          }
        }

        &::before,
        &::after {
          height: 100%;
        }
      }

      &.label-right {
        .step-item {
          justify-content: flex-start;
        }
      }

      &.label-left {
        .step-item {
          justify-content: flex-end;
        }
      }

      &:not(.label-right):not(.label-left) {
        .step-item {
          .step-link {
            > .step-title {
              background-color: $steps-details-background-color;
            }
          }
        }
      }
    }

    > .step-content {
      flex-grow: 1;
    }

    > .step-navigation {
      flex-basis: 100%;
    }

    &.is-right {
      flex-direction: row-reverse;
    }
  }
}
