$steps-items-focused-outline: none !default;
$steps-details-background-color: white !default; // @TODO: update 
$steps-marker-default-background-color: $grey-light !default; 
$steps-marker-default-border: .1em solid #fff !default;
$steps-previous-background-color: $primary !default;
$steps-active-background-color: $primary !default;
$steps-divider-height: .2em !default;
$steps-vertical-padding: 1em 0 !default;
$steps-mobile-max-width: $tablet !default;
$steps-colors : (
	"primary": $primary,
	"success": $success,
	"danger": $danger,
	"warning": $warning,
	"info": $info,
	"dark": $dark,
)!default;

@mixin steps-size($size) {
	.steps {
		.step-item {
			.step-marker {
				width: $size * 2;
	   			height: $size * 2;
			    font-size: $size;
			}	
			.step-title {
				font-size: $size;
			}
	        &:not(:first-child), &:only-child {
                &::before {
                    top: #{$size};
                }
            }
            &:only-child {
                &::after {
	                // This will contain the divider
                    top: #{$size};
                }
            }
		}
	}
}

.steps-wrapper {

	.steps {
		display: flex;
	    // flex-direction: row;
	    // justify-content: space-evenly;
	    flex-wrap: wrap;
	    position: relative;

		.step-item {
	        margin-top: 0;
	        position: relative;
	        flex-grow: 1;
	        flex-basis: 1em;

			.step-link {
				text-decoration: none;
			    display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $body-color;

                &:not(.is-clickable) {
                    cursor: not-allowed;
                }
			}
			.step-marker {
				align-items: center;
			    display: flex;
			    font-weight: 700;
			    justify-content: center;

				background: $steps-marker-default-background-color;
				color: white;
	    		border: $steps-marker-default-border;
			    padding: .1em;
			    margin: 0 auto;

			    // width: 2rem;
	   			// height: 2rem;

			    // font-size: 1.4em;

			    text-align: center;
		    	align-items: center;
			    color: white;
			    // font-weight: bold;

			    z-index: 1;
			    overflow: hidden;

			    cursor: pointer;

				.icon {
					margin: 0;
				}
			}
			.step-title {
				color: $dark;
				text-align: center;
				// font-size: 20px;
			}

			 &:not(:first-child), &:only-child {
	            flex-shrink: 1;

	            &::before {
	                // This will contain the divider
	                content: " ";
	                display: block;
	                position: absolute;
	                width: 100%;
	                top: 1rem;
	                left: -50%;
	                z-index: -1;
	            }
	        }
	        &:only-child {
	            &::after {
	                // This will contain the divider
	                content: " ";
	                display: block;
	                position: absolute;
	                height: $steps-divider-height;
	                bottom: 0;
	                height: 3px;
	            }
	            &::before, &::after {
	                width: 25%;
	                left: 50%;
	            }
	            &::before {
	                right: 50%;
	                left: auto;
	            }
	        }

	        &::before, &::after {
	            background: $steps-marker-default-background-color;
	            background-size: 200% 100%;
	            background-position: right bottom;
	            height: 3px;
	        }
	        // Variants
	    	&.is-previous {
	    		&::before, &::after {
		            background-color: $primary;
		            // background-size: 200% 100%;
		            // background-position: right bottom;
		            // height: 3px;
		        }
	    		.step-marker {
	        		background-color: $primary;
	        		border-color: $primary;
	        		color: white;
	    		}
	    	}
	    	&.is-active {
	    		&::before, &::after {
		            background-color: $primary;
		            // background-size: 200% 100%;
		            // background-position: right bottom;
		            // height: 3px;
		        }
	    		.step-marker {
	        		background-color: white;
	        		border-color: $primary;
	        		color: $primary;
	    		}
	    	}
	        @each $name, $pair in $steps-colors {

	        	// @TODO devider
	        	&.is-#{$name} {
	        		&.is-previous {
			        	&::before, &::after {
				            background-color: $pair;
				            // background-size: 200% 100%;
				            // background-position: right bottom;
				            // height: 3px;
				        }
	        			.step-marker {
			        		background-color: $pair;
			        		border-color: $pair;
			        		color: white;
	        			} 
	        		}
	        		&.is-active {
	        			&::before, &::after {
				            background-color: $pair;
				            // background-size: 200% 100%;
				            // background-position: right bottom;
				            // height: 3px;
				        }
	    				.step-marker {
		        			background-color: white;
		        			border-color: $pair;
		        			color: $pair;
	    				}
	        		}
	        	}
	        }

	        // Sizes
		}
	    &.is-rounded {
	        .step-item {
	            .step-marker {
	                border-radius: 999px;
	            }
	        }
	    }

	    &.is-animated {
	        .step-item {
	            &:not(:first-child), &:only-child {
	                &::before {
	                    transition: background $speed-slow $easing;
	                }
	            }
	        }
	    }


	    &.has-label-right, &.has-label-left {
	        /* .step-items { */
	            .step-item {
	                .step-link {
	                    flex-direction: row;

	                    > /* .step-details { */ .step-title {
	                        background-color: $steps-details-background-color;
	                        padding: .2em;
	                    }
	                }
	                .step-marker {
	                	margin: 0;
	                }
	            }
	        /* } */
	    }
	    &.has-label-left {
            /* .step-items { */
                .step-item {
                    .step-link {
                        flex-direction: row-reverse;
                    }
                    .step-marker {
                    	margin: 0;
                    }
                }
            /* } */
        }
	}

	// Sizes
	@include steps-size(1em);
	&.is-small {
        @include steps-size(.8em);
    }
    &.is-medium {
        @include steps-size(1em);
    }
    &.is-large {
        @include steps-size(1.2em);
    }

	.step-content {
		position: relative;
	    overflow: visible;
	    display: flex;
	    flex-direction: column;
	    padding: 1rem;
	    .step-link {
	    	.title {
	    		text-align: center;
	    	}
	    }
	    .step-item {
	        flex-shrink: 0;
	        flex-basis: auto;

	        &:focus {
	            outline: $steps-items-focused-outline;
	        }
	    }
	    &.is-transitioning {
	        overflow: hidden;
	    }
	}
	&.is-vertical {
		display: flex;
		// flex-direction: row-reverse;
		.steps {
			flex-direction: column;
		}
		.step-item {
			width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
			padding: $steps-vertical-padding;
			.step-title {
				background-color: $steps-details-background-color;
			}
			&:not(:first-child), &:only-child {
	            flex-shrink: 1;

	            &::before {
	                // width: 100%;
	                width: 3px;
	                // top: 25%;
	                top: -50%;
	                // left: -50%;
	                left: 48%;
	            }
	        }
	        &:only-child {
	            &::after {
	                // This contains the divider
	                height: 100%;
	            }
	        }

	        &::before, &::after {
	            // height: 3px;
	            height: 100%;
	        }
		}
	}
}

// .steps {
// 	display: relative;
// }
// .step-item:before {
//     width: 100%;
//     height: 3px;
//     background: red;
//     position: absolute;
//     top: 25%;
//     z-index: -1;
// }