$steps-marker-background-color: rgba(0,0,0,.5); 
$steps-previous-background-color: $primary !default;
$steps-active-background-color: $primary !default;
$steps-divider-height: .2em !default;
$steps-vertical-padding: 1em 0 !default;
$steps-mobile-max-width: 1023px !default;
// $steps-colors: $colors !default;

.steps {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

	.step-item {
		.step-link {
			text-decoration: none;
		}
		.step-marker {
			align-items: center;
		    display: flex;
		    border-radius: 4px;
		    font-weight: 700;
		    justify-content: center;

			background: $steps-marker-background-color;
		    border-radius: 9999px;
		    // padding: .3em;
		    margin: 0 auto;

		    width: 2rem;
   			height: 2rem;

		    font-size: 1.4em;

		    text-align: center;
            align-items: center;
		    color: white;
		    // font-weight: bold;

		    z-index: 1;
		    overflow: hidden;

		    .icon {
		    	margin: 0;
		    }
		}
		.step-title {
			color: $dark;
		    // font-weight: bold;
		    text-align: center;
		    font-size: 20px;
		}

        &:not(:first-child), &:only-child {
            flex-shrink: 1;

            &::before {
                // This will contain the divider
                content: " ";
                display: block;
                position: absolute;
                width: 100%;
                bottom: 0;
                left: -50%;
            }
        }
        &:only-child {
            &::after {
                // This will contain the divider
                content: " ";
                display: block;
                position: absolute;
                height: $steps-divider-height;
                bottom: 0;
            }
            &::before, &::after {
                width: 25%;
                left: 50%;
            }
            &::before {
                right: 50%;
                left: auto;
            }
        }

        &::before, &::after {
            background: linear-gradient(to left, $steps-marker-background-color 50%, $steps-active-background-color 50%);
            background-size: 200% 100%;
            background-position: right bottom;
        }
	}
}


	// .step-item:not(:first-child)::before, .step-item:only-child::before {
	//     content: " ";
	//     display: block;
	//     position: absolute;
	//     width: 100%;
	//     bottom: 0;
	//     left: -50%;
	// }
	// .step-item:not(:first-child)::before, .step-item:only-child::before {
	//     height: 0.2em;
	//     top: 1rem;
	// }
	// .step-item.is-warning::before, .step-item.is-warning::after {
	//     background: linear-gradient(to left, #dbdbdb 50%, #ffe08a 50%);
	//     background-size: 200% 100%;
	//     background-position: right bottom;
	// }
	// .step-item::before, .step-item::after {
	//     background: linear-gradient(to left, #dbdbdb 50%, #00d1b2 50%);
	//     background-size: 200% 100%;
	//     background-position: right bottom;
	// }