$switch-background: #ced4da; 
$switch-transition: all .2s ease-out;
$switch-margin-right-bottom: 0.5rem;
// is-small
$switch-width-small: 24px;
$switch-height-small: 14px;
$switch-before-width-small: 10px;
$switch-before-height-small: 10px;
$switch-top-small: 25%;
// $switch-left-small: 0;
// is-medium
$switch-width-medium: 28px;
$switch-height-medium: 18px;
$switch-before-width-medium: 14px;
$switch-before-height-medium: 14px;
$switch-top-medium: 20%;
// $switch-left-medium: 0;
// is large
$switch-width-large: 38px;
$switch-height-large: 22px;
$switch-before-width-large: 18px;
$switch-before-height-large:18px;
$switch-top-large: 25%;
// $switch-left-large: 0;
// The move of the switch (before)
$switch-small-translateX: 9px;
$switch-medium-translateX: 10px;
$switch-large-translateX: 15px;

@mixin is-small {
	.switch {
		width: $switch-width-small;
	    height: $switch-height-small;
	    top: $switch-top-small;
	}
	.switch:before {
	    width: $switch-before-width-small;
		height: $switch-before-height-small;
	}
	input[type=checkbox]:checked + .switch-wrapper .switch:before {
		// Move
		-webkit-transform: translateX($switch-small-translateX);
		-ms-transform: translateX($switch-small-translateX);
		transform: translateX($switch-small-translateX);
	} 
}
@mixin is-medium {
	.switch {
		width: $switch-width-medium;
	    height: $switch-height-medium;
	    top: $switch-top-medium;
	}
	.switch:before {
	    width: $switch-before-width-medium;
		height: $switch-before-height-medium;
	}
	input[type=checkbox]:checked + .switch-wrapper .switch:before {
		// Move
		-webkit-transform: translateX($switch-medium-translateX);
		-ms-transform: translateX($switch-medium-translateX);
		transform: translateX($switch-medium-translateX);
	} 
}
@mixin is-large {
	.switch {
		width: $switch-width-large;
	    height: $switch-height-large;
	    top: $switch-top-large;
	}
	.switch:before {
	    width: $switch-before-width-large;
		height: $switch-before-height-large;
	}
	input[type=checkbox]:checked + .switch-wrapper .switch:before {
		// Move
		-webkit-transform: translateX($switch-large-translateX);
		-ms-transform: translateX($switch-large-translateX);
		transform: translateX($switch-large-translateX);
	} 
}

.form-switch {
	position: relative;
	padding-left: 25px;
	margin-right: $switch-margin-right-bottom;

	input {
		opacity: 0;
		width: 0;
	}
	.switch {
		position: absolute;
		cursor: pointer;
		left: 0;
		// bottom: 0;
		background-color: $switch-background;
		-webkit-transition: $switch-transition;
		transition: $switch-transition;
		// Default size is-small
		width: $switch-width-small;
	    height: $switch-height-small;
	    top: $switch-top-small;
	}
	.switch:before {
		position: absolute;
	    left: 2px;
	    bottom: 2px;
		content: "";
		background-color: white;
		-webkit-transition: $switch-transition;
		transition: $switch-transition;
		// Default size is-small
		width: $switch-before-width-small;
		height: $switch-before-height-small;
	}

	input[type=checkbox]:checked + .switch-wrapper .switch {
		// Default variant is-primary
		background-color: $primary;
	}

	input[type=checkbox]:checked + .switch-wrapper .switch:before {
		// Default Move is-small
		-webkit-transform: translateX($switch-small-translateX);
		-ms-transform: translateX($switch-small-translateX);
		transform: translateX($switch-small-translateX);
	} 

	// rounded 
	&.is-rounded {
		.switch {
			border-radius: 34px;
		}
		.switch:before {
			border-radius: 50%;
		}
	}

	// Size
	&.is-small {
		@include is-small;
	}
	&.is-medium {
		@include is-medium;
	}
	&.is-large {
		@include is-large;
	}

	// Variant
	input[type=checkbox]:checked + .switch-wrapper .switch {
		&.is-primary {
			background-color: $primary;
		}
	}
	input[type=checkbox]:checked + .switch-wrapper .switch {
		&.is-success {
			background-color: $success;
		}
	}
	input[type=checkbox]:checked + .switch-wrapper .switch {
		&.is-danger {
			background-color: $danger;
		}
	}
	input[type=checkbox]:checked + .switch-wrapper .switch {
		&.is-warning {
			background-color: $warning;
		}
	}
	input[type=checkbox]:checked + .switch-wrapper .switch {
		&.is-info {
			background-color: $info;
		}
	}

	// Passive Variant
	.switch-wrapper .switch {
		&.is-primary-passive {
			background-color: $primary;
		}
		&.is-success-passive {
			background-color: $success;
		}
		&.is-danger-passive {
			background-color: $danger;
		}
		&.is-warning-passive {
			background-color: $warning;
		}
	    &.is-info-passive {
			background-color: $info;
		}
	}
	
	//
	.switch-wrapper {
		.form-check-label {
			
		}
	}
}