$tabs-link-active-border-color: $primary !default;
$tabs-color: $dark !default;
$tabs-border-color: $default-border-color;
$nav-tabs-margin-bottom: 10px;
$nav-tabs-font-size-small: 13px;
$nav-tabs-font-size-medium: 14px;
$nav-tabs-font-size-large: 18px;
$tabs-wrapper-margin: 20px;

// NAVTAB
.nav-tab-wrapper {
	margin: $tabs-wrapper-margin;
	// nav (Pictures - Musics - Books - Videos)
	.nav {
		margin-bottom: $nav-tabs-margin-bottom;
		display: flex;
		// each nav element is div (or li => div)
		div {
			cursor: pointer;
			padding: 10px;
			border: 1px solid transparent;
			text-align: center;
			a {
				color: $tabs-color;
				text-decoration: none;
				width: 100%;
			}
			.active {
				color: $tabs-link-active-border-color;
				// border-bottom: 2px solid $tabs-link-active-border-color;
				// padding-bottom: 11px;
			}
			.disabled {
				pointer-events: none;
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
		div:not(a.disabled):hover {
			border-bottom: 1px solid $tabs-link-active-border-color;
		}
		// div:focus {
		// 	border-bottom: 1px solid $tabs-link-active-border-color;
		// }
		// div:has(> a.active) {
		// 	border-bottom: 1px solid $tabs-link-active-border-color;
		// }
		// Position
		&.is-centered {
			justify-content: center; 
		}
		&.is-right {
			justify-content: end;
		}
		// Size 
		&.is-small {
			font-size: $nav-tabs-font-size-small;
		}
		&.is-medium {
			font-size: $nav-tabs-font-size-medium;
		}
		&.is-large {
			font-size: $nav-tabs-font-size-large;
		}
	}
	// Content of each nav
	.nav-content {
		margin: 10px;
		flex-grow: 1;
	}
	// Full width
	&.is-expanded {
		.nav {
			div {
				flex-grow: 1;
    			flex-shrink: 0;
			}
		}
	}
	// Position
	// Vetical 
	&.is-vertical {
		display: flex;
		flex-direction: row;
		.nav {
			display: block;
			div {
				border-bottom: 1px solid $tabs-border-color;
				text-align: left;
			}
		}
		&.is-right {
			flex-direction: row-reverse;
		}
	}
} 
