@use "sass:math";

/* @docs */
$nav-tabs-color: var(--#{$prefix}body-color) !default;
$nav-tabs-spacer: $spacer !default;
$nav-tabs-disabled-opacity: 0.5 !default;
/* @docs */

/* @bootstrap docs */
// $nav-link-padding-y:                .5rem;
// $nav-link-padding-x:                1rem;
// $nav-link-font-size:                null;
// $nav-link-font-weight:              null;
// $nav-link-color:                    var(--#{$prefix}link-color);
// $nav-link-hover-color:              var(--#{$prefix}link-hover-color);
// $nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
// $nav-link-disabled-color:           var(--#{$prefix}secondary-color);
// $nav-link-focus-box-shadow:         $focus-ring-box-shadow;

// $nav-tabs-border-color:             var(--#{$prefix}border-color);
// $nav-tabs-border-width:             var(--#{$prefix}border-width);
// $nav-tabs-border-radius:            var(--#{$prefix}border-radius);
// $nav-tabs-link-hover-border-color:  var(--#{$prefix}secondary-bg) var(--#{$prefix}secondary-bg) $nav-tabs-border-color;
// $nav-tabs-link-active-color:        var(--#{$prefix}emphasis-color);
// $nav-tabs-link-active-bg:           var(--#{$prefix}body-bg);
// $nav-tabs-link-active-border-color: var(--#{$prefix}border-color) var(--#{$prefix}border-color) $nav-tabs-link-active-bg;

// $nav-pills-border-radius:           var(--#{$prefix}border-radius);
// $nav-pills-link-active-color:       $component-active-color;
// $nav-pills-link-active-bg:          $component-active-bg;

// $nav-underline-gap:                 1rem;
// $nav-underline-border-width:        .125rem;
// $nav-underline-link-active-color:   var(--#{$prefix}emphasis-color);
/* @bootstrap docs */

.nav-tab-wrapper {
  --#{$prefix}nav-tabs-spacer: #{$nav-tabs-spacer};
  --#{$prefix}nav-tabs-disabled-opacity: #{$nav-tabs-disabled-opacity};

  .nav {
    margin-bottom: var(--#{$prefix}nav-tabs-spacer);

    .nav-link {
      .icon {
        margin-right: 0.5em;
      }

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: var(--#{$prefix}nav-tabs-disabled-opacity);
      }
    }

    &:not(.nav-default) .nav-link {
      --#{$prefix}nav-link-color: #{$nav-tabs-color};
    }

    // style toggle / underline
    &.nav-unterline,
    &.nav-toggle {
      --#{$prefix}nav-underline-link-active-bg: #{$nav-tabs-link-active-bg};
      --#{$prefix}nav-underline-border-color: #{$nav-tabs-border-color};
      --#{$prefix}nav-underline-link-active-color: #{$nav-tabs-link-active-color};
      --#{$prefix}nav-underline-border-width: #{$nav-underline-border-width};

      .active {
        background-color: var(--#{$prefix}nav-underline-link-active-bg);
        border-color: var(--#{$prefix}nav-underline-border-color);
        color: var(--#{$prefix}nav-underline-link-active-color);
        border-bottom: $nav-underline-border-width solid
          var(--#{$prefix}nav-underline-link-active-color);
      }
    }

    // style boxed / tabs
    &.nav-boxed {
      @extend .nav-tabs;
    }

    // Sizes
    @each $name, $size in $sizes {
      &.size-#{$name} {
        --#{$prefix}nav-link-font-size: #{$size};
        --#{$prefix}nav-link-padding-x: #{calc(
            $nav-link-padding-x * strip-unit($size)
          )};
        --#{$prefix}nav-link-padding-y: #{calc(
            $nav-link-padding-y * strip-unit($size)
          )};
      }
    }
  }

  .nav-content {
    position: relative;
  }

  &.expanded:not(.vertical) .nav {
    @extend .nav-fill;
  }

  // position vetical
  &.vertical {
    --#{$prefix}nav-underline-border-width: #{$nav-underline-border-width};
    --#{$prefix}nav-underline-border-color: #{$nav-tabs-border-color};

    display: flex;
    flex-direction: row;

    .nav {
      display: block;

      &.nav-default .nav-link {
        border-bottom: var(--#{$prefix}nav-underline-border-width) solid
          var(--#{$prefix}nav-underline-border-color);
        text-align: left;
      }

      &.nav-tabs {
        .nav-item:not(:has(+ [aria-selected="true"])) .nav-link {
          border-bottom: var(--#{$prefix}nav-underline-border-width) solid
            var(--#{$prefix}nav-underline-border-color);
        }
      }
    }

    &:not(.is-right) {
      .nav {
        margin-right: var(--#{$prefix}nav-tabs-spacer);
      }
    }

    &.is-right {
      flex-direction: row-reverse;

      .nav {
        margin-left: var(--#{$prefix}nav-tabs-spacer);
      }
    }

    .nav-content {
      flex-grow: 1;
    }
  }
}
