/* @docs */
$taginput-badge-bg: $light;
$taginput-badge-color: $dark;
$taginput-badge-font-size: 0.9em !default;
$taginput-badge-margin: 0.25em !default;
$taginput-badge-icon-space: 0.25em !default;
$taginput-counter-margin: 0.25rem 0 0 0.5rem !default;
$taginput-counter-font-size: 0.75rem !default;
/* @docs */

/* @bootstrap docs */
// $badge-font-size:                   .75em;
// $badge-font-weight:                 $font-weight-bold;
// $badge-color:                       $white;
// $badge-padding-y:                   .35em;
// $badge-padding-x:                   .65em;
// $badge-border-radius:               var(--#{$prefix}border-radius);
/* @bootstrap docs */

.taginput-wrapper {
  .btn-close {
    font-size: 0.8em;
  }

  .taginput {
    --#{$prefix}taginput-border-width: #{$input-border-width};
    --#{$prefix}taginput-border-color: #{$input-border-color};
    --#{$prefix}taginput-border-radius: #{$input-border-radius};

    display: flex;
    flex-wrap: wrap;
    border: var(--#{$prefix}taginput-border-width) solid
      var(--#{$prefix}taginput-border-color);
    border-radius: var(--#{$prefix}taginput-border-radius);

    &:hover {
      box-shadow: var(--#{$prefix}focus-ring-x, 0)
        var(--#{$prefix}focus-ring-y, 0) var(--#{$prefix}focus-ring-blur, 0)
        var(--#{$prefix}focus-ring-width) var(--#{$prefix}focus-ring-color);
    }

    .badge {
      --#{$prefix}badge-color: #{$taginput-badge-color};
      --#{$prefix}badge-font-size: #{$taginput-badge-font-size};
      --#{$prefix}badge-margin: #{$taginput-badge-margin};
      --#{$prefix}badge-bg: #{$taginput-badge-bg};
      --#{$prefix}badge-icon-space: #{$taginput-badge-icon-space};

      display: inline-flex;
      align-items: center;
      background: var(--#{$prefix}badge-bg);
      margin: var(--#{$prefix}badge-margin);

      // Colors
      @include variant-text-bg();

      .icon {
        margin-left: var(--#{$prefix}badge-icon-space);
        margin-bottom: 0;
        cursor: pointer;
      }
    }
  }

  input {
    border: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none !important;
    }
  }

  .counter {
    --#{$prefix}taginput-counter-margin: #{$taginput-counter-margin};
    --#{$prefix}taginput-counter-font-size: #{$taginput-counter-font-size};

    position: relative;
    display: block;
    float: right;
    font-size: var(--#{$prefix}taginput-counter-font-size);
    margin: var(--#{$prefix}taginput-counter-margin);
  }

  &.expanded {
    width: 100%;
  }

  &.disabled {
    .taginput {
      --#{$prefix}taginput-disabled-bg: #{$input-disabled-bg};
      --#{$prefix}taginput-disabled-color: #{$input-disabled-color};
      --#{$prefix}taginput-disabled-border-color: #{$input-disabled-border-color};

      color: var(--#{$prefix}taginput-disabled-color);
      background: var(--#{$prefix}taginput-disabled-bg);
      border-color: var(--#{$prefix}taginput-disabled-border-color)
        var(--bs-border-color);
      cursor: not-allowed;

      input {
        cursor: not-allowed;
      }

      .btn-close {
        display: none;
      }
    }
  }
}
