/* @docs */
$taginput-badge-margin: 0.25em !default;
$taginput-counter-margin: 0.25rem 0 0 0.5rem !default;
$taginput-counter-font-size: 0.75rem !default;
/* @docs */

/* @bootstrap docs */
// $badge-font-size:                   .75em;
// $badge-font-weight:                 $font-weight-bold;
// $badge-color:                       $white;
// $badge-padding-y:                   .35em;
// $badge-padding-x:                   .65em;
// $badge-border-radius:               var(--#{$prefix}border-radius);
/* @bootstrap docs */

.taginput {
    .btn-close {
        font-size: 0.8em;
    }

    .taginput-wrapper {
        --#{$prefix}taginput-border-width: #{$input-border-width};
        --#{$prefix}taginput-border-color: #{$input-border-color};
        --#{$prefix}taginput-border-radius: #{$input-border-radius};

        display: flex;
        flex-wrap: wrap;
        border: var(--#{$prefix}taginput-border-width) solid
            var(--#{$prefix}taginput-border-color);
        border-radius: var(--#{$prefix}taginput-border-radius);

        &:hover,
        &:focus-within {
            box-shadow: var(--#{$prefix}focus-ring-x, 0)
                var(--#{$prefix}focus-ring-y, 0)
                var(--#{$prefix}focus-ring-blur, 0)
                var(--#{$prefix}focus-ring-width)
                var(--#{$prefix}focus-ring-color);
        }

        .badge {
            --#{$prefix}badge-margin: #{$taginput-badge-margin};

            margin: var(--#{$prefix}badge-margin);
        }

        .dropdown.expanded {
            width: auto;
        }
    }

    .dropdown-trigger,
    .input {
        height: 100%;
    }

    input {
        border: 0;
        box-shadow: none;

        // disable input focus shadow
        &:focus {
            box-shadow: none !important;
        }
    }

    .counter {
        --#{$prefix}taginput-counter-margin: #{$taginput-counter-margin};
        --#{$prefix}taginput-counter-font-size: #{$taginput-counter-font-size};

        position: relative;
        display: block;
        float: right;
        font-size: var(--#{$prefix}taginput-counter-font-size);
        margin: var(--#{$prefix}taginput-counter-margin);
    }

    // size variants
    @each $name, $size in $sizes {
        &.size-#{$name} {
            font-size: $size;
        }
    }

    &.expanded {
        width: 100%;
    }

    &.disabled {
        .taginput-wrapper {
            --#{$prefix}taginput-disabled-bg: #{$input-disabled-bg};
            --#{$prefix}taginput-disabled-color: #{$input-disabled-color};
            --#{$prefix}taginput-disabled-border-color: #{$input-disabled-border-color};

            color: var(--#{$prefix}taginput-disabled-color);
            background: var(--#{$prefix}taginput-disabled-bg);
            border-color: var(--#{$prefix}taginput-disabled-border-color)
                var(--#{$prefix}border-color);

            input {
                cursor: not-allowed;
            }
        }
    }
}
