$select-margin: 0.2rem 0.2rem 0.2rem 0;

.timepicker {
	.dropdown-menu {
		width: auto;
	}
	.dropdown-item {
		display: inline-flex;
		flex-wrap: wrap;
	}
	.dropdown-item:active {
		background-color: white;
		color: $dark;
	}
	.dropdown-item:hover {
		background-color: white;
	}
	span.is-colon {
	    transform: translateY(15%);
	    font-weight: bolder;
	    margin: $select-margin;
	}

	.select {
        margin: $select-margin;
        font-weight: bolder;
    }
    .timepicker-footer {
    	.btn:not(:last-child):not(.btn-expanded) {
		    margin: $select-margin!important;
		}
    }
    footer.timepicker-footer {
	    // position: absolute;
	    // right: 16px;
	}
}