$select-margin-right: 0.2rem;

.timepicker {
	.dropdown-menu {
		width: auto;
	}
	.dropdown-item {
		display: inline-flex;
		flex-wrap: wrap;
	}
	.dropdown-item:active {
		background-color: white;
		color: $dark;
	}
	.dropdown-item:hover {
		background-color: white;
	}
	span.is-colon.control {
	    transform: translateY(10%);
	    font-weight: bolder;
	}

	.select:not(:last-child) {
        margin: 0 $select-margin-right;
        font-weight: bolder;
    }
    .timepicker-footer {
    	// display: inline-flex;
    	// flex-wrap: wrap;
    	// .btn {
    	// 	flex-grow: 0;
    	// }
    	.btn:not(:last-child):not(.btn-expanded) {
		    margin: 0 $select-margin-right !important;
		}
    }
    footer.timepicker-footer {
	    // position: absolute;
	    // right: 16px;
	}
}