$upload-draggable-border: 1px dashed $grey-light;
$upload-draggable-border-radius: $base-border-radius;
$upload-draggable-disabled-opacity:	$base-disabled-opacity;
$upload-draggable-hover-border-color: $grey-light;
$upload-draggable-padding: 2em;
@use "sass:map";

.upload {
	input {
		display: none;
	}
	&.is-disabled {
	    cursor: not-allowed;
	    opacity: $base-disabled-opacity;
	}
	&.is-expanded {
	    width: 100%;
	    /* flex-grow: 1; */
	}
	
	.upload-draggable {
		border: $upload-draggable-border;
		padding: $upload-draggable-padding;
		&.is-hovered {
			background-color: $upload-draggable-hover-border-color;
		}

		@each $name, $pair in $theme-colors-lighter {
			$variant: map.get($theme-colors, #{$name});
			&.is-#{$name} {
				background-color: $pair;
				border-color: $variant
			}
		}
		// &.is-primary {
		// 	background-color: rgba(13,110,253,.1);
		// 	border-color: $primary
		// }
		// &.is-success {
		// 	background-color: rgba(25,135,84,.1);
		// 	border-color: $success
		// }
		// &.is-warning {
		// 	background-color: rgba(220,53,69,.1);
		// 	border-color: $warning
		// }
		// &.is-danger {
		// 	background-color: rgba(220,53,69,.1);
		// 	border-color: $danger
		// }
		// &.is-info {
		// 	background-color: rgba(13,202,240,.1);
		// 	border-color: $info
		// }
		// &.is-dark {
		// 	background-color: $grey-light;
		// 	border-color: $dark
		// }

		.ex-center {
			p {
				text-align: center;
			}
		}
	}
}
