/****************************
*   Global utility classes
*****************************/

// btn-close overrides

.btn-close > .icon,
.btn-close.icon > i,
.btn-close.icon > svg {
  visibility: hidden;
}

@each $name, $pair in $theme-colors {
  .variant-#{$name} > .btn-close {
    @extend .btn-close-white;
  }
}

// Utlity classes

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: unset !important;
}

.fit-content {
  width: fit-content;
}

.max-width,
.fullwidth {
  width: 100%;
}

.width-unset {
  width: unset;
}

.max-height,
.fullheight {
  height: 100%;
}

.height-unset {
  height: unset;
}

// Utility classes for text

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-break {
  white-space: break-spaces;
}

// Utitlity classes for z-index sass variables (see https://getbootstrap.com/docs/5.3/layout/z-index/)

.z-dropdown {
  z-index: $zindex-dropdown;
}

.z-sticky {
  z-index: $zindex-sticky;
}

.z-fixed {
  z-index: $zindex-fixed;
}

.z-offcanvas-backdrop {
  z-index: $zindex-offcanvas-backdrop;
}

.z-offcanvas {
  z-index: $zindex-offcanvas;
}

.z-modal-backdrop {
  z-index: $zindex-modal-backdrop;
}

.z-modal {
  z-index: $zindex-modal;
}

.z-popover {
  z-index: $zindex-popover;
}

.z-tooltip {
  z-index: $zindex-tooltip;
}

.z-toast {
  z-index: $zindex-toast;
}
